<template>
  <div>
    <PageHeadingUnderlined
      label="your standards for highways"
      title="Download standards"
    >
      <p>Download full standards as they were at a specific date of your choosing.</p>
    </PageHeadingUnderlined>

    <b-form
      role="select-standards"
      aria-label="Select standards"
    >

      <b-row class="mb-4.5">
        <b-col v-if="formInvalidMessage.length > 0" id="form-input-error" cols="12" md="4">
          <b-alert
            variant="danger"
            :show="true"
          >
            {{ formInvalidMessage }}
          </b-alert>
        </b-col>
      </b-row>

      <b-row class="mb-4">
        <b-col cols="12" md="5" class="form-group">

          <b-form-group
            label="Select standards"
            class="pb-2"
          >
            <b-form-checkbox-group
              v-model="selectedStandards"
              :options="standards"
              stacked
              value-field="key"
            ></b-form-checkbox-group>
          </b-form-group>

        </b-col>
      </b-row>

      <b-row class="mb-4">
        <b-col cols="12" md="5" class="form-group">

          <b-form-group>
            <Datepicker
              v-model="validAt"
              class="datepicker"
              label="Select a date"
            />
          </b-form-group>

        </b-col>
      </b-row>

      <b-row class="mb-4.5">
        <b-col cols="12" sm="1">
          <Button
            type="submit"
            class="w-100"
            @click.prevent="onProcessDownload"
          >{{ downloadButtonText }}</Button>
        </b-col>
      </b-row>

      <b-row class="mb-4.5">
        <b-col v-if="formValidMessage.length > 0" id="form-input-valid" md="8">
          <!-- eslint-disable vue/no-v-html -->
          <b-alert
            variant="info"
            :show="true"
            v-html="formValidMessage"
          >
          </b-alert>
          <!-- eslint-disable vue/no-v-html -->
        </b-col>
      </b-row>

    </b-form>

    <hr class="border-dark mb-5 mt-4" />

    <h6 class="mb-3">Download history</h6>

    <div class="table-container">
      <div class="table-row">
        <div v-for="{ key, label, formatter } of downloadRequestsTableFields" :key="key">
          <div class="download-standards-table-label"><b>{{ label }}</b></div>
          <div v-for="(item, indx) of downloadRequestsSorted" :key="indx" class="download-standards-table-row">

            <!-- Files cells -->
            <template v-if="label === 'File'">
              <span v-if="item.state === downloadState.PROCESSING">Preparing download</span>
              <span v-if="item.state === downloadState.ERROR">Download failed</span>
              <div v-else-if="item.state === downloadState.SUCCESS" class="download-standards-file-name">
                {{ fileNameFromZipUrl(item.zipUrl) }}
              </div>
              <span v-else>&nbsp;</span>
            </template>

            <!-- Actions cells -->
            <template v-else-if="label === 'Actions'">
              <div v-if="item.state !== downloadState.PROCESSING" class="download-standards-table-cell-actions">
                <a v-if="downloadAction(item) === 'Download'" target="_blank" :href="item.zipUrl" download>
                  <img :src="downloadIcon" />
                </a>
                <img
                  v-else-if="downloadAction(item) === 'Expired' || downloadAction(item) === 'Failed'"
                  :src="refreshIcon"
                  @click="onRefreshDownload(indx)"
                />
              </div>
              <span v-else>&nbsp;</span>
            </template>

            <!-- Default cells -->
            <template v-else>
              <!-- Default formatter -->
              <span v-if="item[key] && formatter">{{ formatter(item) }}</span>
              <!-- Default key -->
              <span v-else-if="item[key]">{{ item[key] }}</span>
              <!-- Default empty value -->
              <span v-else>&nbsp;</span>
            </template>
          </div>
        </div>
      </div>
    </div>

    <div class="pointee-icon">
      <small>Scroll left and right to see more</small>
      <img :src="pointeeIcon" />
    </div>

  </div>
</template>

<script>
/* eslint-disable */
import dayjs from 'dayjs'
import refreshIcon from '~/assets/icons/refresh-icon.svg'
import downloadIcon from '~/assets/icons/download-icon.svg'
import pointeeIcon from '~/assets/icons/pointee-icon.svg'
import {
  formatStandards,
  formatAsAt,
  formatDownloadValid,
  downloadRequestDataFormatted,
  downloadAction,
} from '~/helpers/formatting.js'
import { downloadOptions } from '~/config/suites.js'
import { downloadState } from '~/config/downloads'

const formValidMessageTemplate = `
<p>
  <b>You’re files are being prepared.</b>
</p>
<p>
  This may take several minutes. You will recieve an email once they are ready.
</p>
`

export default {
  layout: 'no-footer',
  data() {
    return {
      pointeeIcon,
      refreshIcon,
      downloadIcon,
      downloadState,
      validAt: null,
      downloadButtonText: 'Download',
      selectedStandards: [],
      standards: downloadOptions,
      formInvalidMessage: '',
      formValidMessage: '',
      downloadRequests: [],
      downloadRequestsTableFields: [
        { 
          label: 'File',
          key:'state',
          formatter: ({ state }) => state,
          items: downloadRequests => downloadRequests.map(dr => dr.state),
        },
        {
          label: 'Standards',
          key:'searchParams',
          formatter: formatStandards,
          items: downloadRequests => downloadRequests.map(dr => dr.searchParams),
        },
        {
          label: 'As at',
          key:'validAt',
          formatter: formatAsAt,
          items: downloadRequests => downloadRequests.map(dr => dr.validAt),
        },
        {
          label: 'Download valid for',
          key:'completeDate',
          formatter: formatDownloadValid,
          items: downloadRequests => downloadRequests.map(dr => dr.completeDate),
        },
        {
          label: 'Actions',
          key: 'zipUrl',
          formatter: ({ zipUrl }) => zipUrl,
          items: downloadRequests => downloadRequests.map(dr => dr.zipUrl),
        },
      ]
    }
  },
  computed: {
    user() {
      return this.$store.getters.user
    },
    downloadRequestsSorted() {
      return this.downloadRequests
        .sort((a,b) => {
          if (dayjs(a.updatedAt).isBefore(dayjs(b.updatedAt))) return 1
          if (dayjs(b.updatedAt).isBefore(dayjs(a.updatedAt))) return -1
          return 0
        })
    },
    userId() {
      return this.$store.getters.user.id
    },
  },
  head() {
    return {
      title: 'Download standards',
    }
  },
  async beforeMount() {
    if (!this.$store.getters.signedIn) return this.$router.push('/sign-in')
    this.fetchDownloadRequests()
  },
  methods: {
    fileNameFromZipUrl(zipUrl) {
      return zipUrl?.match(/[/][a-zA-Z0-9-]+/g)?.slice(-1)?.[0]?.slice(1) ?? 'File name error'
    },
    downloadAction,
    async onRefreshDownload(index) {
      const { id } = this.downloadRequests?.[index]

      if (!id) {
        this.formInvalidMessage = 'There has been an error refreshing your download'
        return
      }

      try {
        await this.$authenticated.put('download-requests/' + id)

        this.fetchDownloadRequests()

        this.formInvalidMessage = ''
        this.formValidMessage = ''

      } catch (error) {
        this.formInvalidMessage = error.message
      }
    },
    async fetchDownloadRequests() {
      try {
        const { data: downloadRequests } = await this.$authenticated('download-request/user/' + this.user.id)
        this.downloadRequests = downloadRequests
      } catch (error) {
        this.formInvalidMessage = error.message
      }
    },
    async onProcessDownload() {
      if (this.selectedStandards.length === 0) {
        this.formInvalidMessage = 'Please select at least one standard'
        this.formValidMessage = ''
        return
      }

      if (!this.validAt) {
        this.formInvalidMessage = 'Please select a date'
        this.formValidMessage = ''
        return
      }

      try {
        await this.$authenticated.post('download-requests', downloadRequestDataFormatted({
          userId: this.userId,
          validAt: this.validAt,
          standards: this.selectedStandards,
        }))

        const { name } = this.$router.app.$route
        this.$store.dispatch('downloadStandardsOnProcessDownload', {
          standards: this.selectedStandards,
          validAt: this.validAt,
          clickText: this.downloadButtonText,
          name,
        })

        // Update the history list
        await this.fetchDownloadRequests()
        this.selectedStandards = []
        this.validAt = null

      } catch (error) {
        this.formInvalidMessage = error.message
        this.formValidMessage = ''
        return
      }

      this.formInvalidMessage = ''
      this.formValidMessage = formValidMessageTemplate
    },
  },
}
</script>

<style lang="scss" scoped>
.pointee-icon {
  padding-top: 1rem;
  color: $body-color-subdued;
  width: 100%;
  display: flex;
  justify-content: center;
  small {
    padding-right: 0.5rem;
  }
  @media screen and (min-width: $breakpoint-xl) {
    display: none;
  }
}

.table-row-margin {
  margin-left: -12px;
}

.mb-4\.5 {
  margin-bottom: 2.5rem;
}

.table-container {
  overflow-y: scroll;

  .table-row {
    min-width: $breakpoint-lg;
    display: grid;
    grid-template-columns: auto auto auto auto 70px;
  }
}


.download-standards-table-row {
  margin-bottom: 16px;
  padding-bottom: 16px;
  height: 41px;
  &:not(:last-child) {
    border-bottom: 1px solid $brand-border-color;
  }
}

.download-standards-table-cell-actions {
  text-align: center;
}

.download-standards-table-label {
  margin-bottom: 16px;
}

.download-standards-file-name {
  max-width: 330px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>
