<template>
  <div>
    <PageHeadingUnderlined
      label="your standards for highways"
      :title="'Welcome back, ' + user.firstName"
    >
    </PageHeadingUnderlined>

    <b-container class="mt-5">
      <b-row>

        <div class="my-account-container">

          <div class="my-account-bookmark-cards">
            <h6>Your saved documents</h6>
            <hr />
            <BookmarkCard
              v-for="document in documents"
              v-bind="document"
              :key="document.documentNodeId"
            />
          </div>

          <div class="my-account-resource-cards">
            <ResourceCard
              class="mb-3"
              title="Your details"
              to="/my-account/your-details"
            >
              <img :src="userIcon" alt="Your details" />
              <template #body>
                <p class="my-account-resource-card-body">
                  Update your personal details and communication preferences
                </p>
              </template>
            </ResourceCard>
            <ResourceCard
              title="Download standards"
              to="/my-account/download-standards"
            >
              <img :src="downloadIcon" alt="Download standards" />
              <template #body>
                <p class="my-account-resource-card-body">
                  Download full standards of documents as they were at a specified date.
                </p>
              </template>
            </ResourceCard>
          </div>

          <div class="my-account-recent-docs">
            <h6 class="mb-3">Recently viewed:</h6>
            <ul>
              <li
                v-for="(document, key) in recentlyViewedDocuments"
                :key="document.title + key"
                class="my-account-recent-doc"
              >
                <nuxt-link :to="'/search/' + document.nodeId">
                  {{ document.title + documentVersion(document.version) }}
                </nuxt-link>
              </li>
            </ul>
          </div>

        </div>

      </b-row>

    </b-container>

  </div>
</template>

<script>
import userIcon from '~/assets/icons/user-icon.svg'
import downloadIcon from '~/assets/icons/download-icon.svg'

export default {
  layout: 'no-footer',
  data() {
    return {
      userIcon,
      downloadIcon,
    }
  },
  head() {
    return {
      title: 'My account',
    }
  },
  computed: {
    recentlyViewedDocuments() {
      return this.$store.getters.recentlyViewedDocuments
    },
    documents() {
      return this.$store.getters.documents
    },
    user() {
      return this.$store.getters.user
    }
  },
  beforeMount() {
    if (!this.$store.getters.signedIn) return this.$router.push('/sign-in')
    this.$store.dispatch('myAccountBeforeMount')
  },
  methods: {
    documentVersion(version) {
      if (version === '0' || !version) return ''
      return ` (${version})`
    },
  },
}
</script>

<style lang="scss" scoped>
h6 {
  font-weight: 700;
  margin-bottom: 1.2rem;
}

hr {
  margin: 0;
}

p.my-account-resource-card-body {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 0.875rem;
}

ul {
  padding-left: 0;
}

li {
  display: block;
}

.my-account-recent-doc {
  margin-bottom: 1rem;
}

.my-account-container {
  display: grid;
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  @media screen and (min-width: $breakpoint-lg) {
    grid-template-columns: 6fr 4fr;
  }
  @media screen and (min-width: $breakpoint-xl) {
    grid-row-gap: 2rem;
  }
}

.my-account-bookmark-cards {
  grid-row-end: 4;
  margin-top: 2rem;
  @media screen and (min-width: $breakpoint-lg) {
    margin-top: 0;
    grid-row-start: 1;
  }
}

.my-account-resource-cards {
  grid-row-start: 1;
  grid-column-start: 1;
  @media screen and (min-width: $breakpoint-lg) {
    margin-top: 2.4rem;
    grid-column-start: 2;
  }
}

.my-account-recent-docs {
  grid-column-start: 1;
  @media screen and (min-width: $breakpoint-lg) {
    grid-column-start: 2;
  }
}
</style>
