<template>
  <div>
    <PageHeadingUnderlined
      label="your standards for highways"
      title="Your details"
    >
      <p>You can update your details below.</p>
    </PageHeadingUnderlined>

    <b-form
      role="create-account"
      aria-label="Create an account"
      @submit.prevent="handleSubmit"
    >
      <b-row class="mb-4.5">
        <b-col v-if="formValidMessage.length > 0" id="form-input-valid" cols="12" md="4">
          <b-alert
            variant="success"
            :show="true"
          >
            {{ formValidMessage }}
          </b-alert>
        </b-col>

        <b-col v-if="formInvalidMessage.length > 0" id="form-input-error" cols="12" md="4">
          <b-alert
            variant="danger"
            :show="true"
          >
            {{ formInvalidMessage }}
          </b-alert>
        </b-col>
      </b-row>

      <b-row class="mb-4">
        <b-col cols="12" md="5" class="form-group">
          <label for="first-name-input">
            First name
          </label>

          <b-form-input
            id="first-name-input"
            v-model="firstName"
            :state="firstNameState"
            placeholder="Enter your first name"
          ></b-form-input>

          <b-form-invalid-feedback :state="firstNameState">
            Please enter your first name
          </b-form-invalid-feedback>
        </b-col>
      </b-row>

      <b-row class="mb-4">
        <b-col cols="12" md="5" class="form-group">
          <label for="last-name-input">
            Last name
          </label>

          <b-form-input
            id="last-name-input"
            v-model="lastName"
            :state="lastNameState"
            placeholder="Enter your last name"
          ></b-form-input>

          <b-form-invalid-feedback :state="lastNameState">
            Please enter your last name
          </b-form-invalid-feedback>
        </b-col>
      </b-row>

      <b-row class="mb-4">
        <b-col cols="12" md="5" class="form-group">

          <label for="email-input">
            Email
          </label>
          <div class="email-hint">
            Changing your email will affect your sign in details
          </div>

          <b-form-input
            id="email-input"
            v-model="email"
            :state="emailState"
            type="email"
          ></b-form-input>
        </b-col>
      </b-row>

      <b-row class="mb-4">
        <b-col cols="12" md="5" class="form-group">

          <label for="email-notifications-input">
            Notifications
          </label>
          <div class="email-notifications-hint">
            Set to control update and download notification emails
          </div>

          <b-form-checkbox
            id="email-notifications-checkbox"
            v-model="emailNotifications"
          ></b-form-checkbox>
        </b-col>
      </b-row>

      <b-row class="mb-4.5">
        <b-col cols="12" sm="1">
          <A11yButton
            :disabled="!formChanged"
            :aria-disabled="!formChanged"
            type="submit"
            class="w-100"
            @click.prevent="onSubmit"
          >Save changes</A11yButton>
        </b-col>
      </b-row>
    </b-form>

  </div>
</template>

<script>
export default {
  layout: 'no-footer',
  data() {
    return {
      submitted: false,
      formInvalidMessage: '',
      formValidMessage: '',
      firstNameVal: null,
      lastNameVal: null,
      emailVal: null,
      emailNotificationsVal: null,
    }
  },
  head() {
    return {
      title: 'Your details',
    }
  },
  computed: {
    emailNotifications: {
      get() {
        if (typeof this.emailNotificationsVal === 'boolean') {
          return this.emailNotificationsVal
        }
        return this.user.emailNotifications
      },
      set(val) {
        this.emailNotificationsVal = val
      },
    },
    firstName: {
      get() {
        if (typeof this.firstNameVal === 'string') {
          return this.firstNameVal
        }
        return this.user.firstName
      },
      set(val) {
        this.firstNameVal = val
      },
    },
    lastName: {
      get() {
        if (typeof this.lastNameVal === 'string') {
          return this.lastNameVal
        }
        return this.user.lastName
      },
      set(val) {
        this.lastNameVal = val
      },
    },
    email: {
      get() {
        if (typeof this.emailVal === 'string') {
          return this.emailVal
        }
        return this.user.email
      },
      set(val) {
        this.emailVal = val
      },
    },
    user() {
      return this.$store.getters.user
    },
    firstNameState() {
      return !this.submitted ? null : !!(this.firstName.length > 0)
    },
    lastNameState() {
      return !this.submitted ? null : !!(this.lastName.length > 1)
    },
    emailState() {
      return !this.submitted ? null
      : (
        this.email.length > 3 && this.email.match(/@./g)?.length === 1
      )
    },
    formInvalid() {
      return !this.submitted ? null
      : (
        !this.firstNameState
        || !this.lastNameState
      )
    },
    formChanged() {
      return this.firstName !== this.user.firstName
      || this.lastName !== this.user.lastName
      || this.email !== this.user.email
      || this.emailNotifications !== this.user.emailNotifications
    }
  },
  beforeMount() {
    if (!this.$store.getters.signedIn) this.$router.push('/sign-in')
  },
  methods: {
    async onSubmit() {
      if (!this.formChanged) return

      this.submitted = true
      if (this.formInvalid) {
        this.formInvalidMessage = 'Please make sure all fields are filled in'
        this.$store.dispatch('error', new Error(this.formInvalidMessage))
        this.formValidMessage = ''
        return
      }

      try {
        const { data: user } = await this.$authenticated.put('/users/' + this.user.id, {
          firstName: this.firstName,
          lastName: this.lastName,
          email: this.email,
          username: this.email,
        })

        this.$store.commit('user', { user })

        this.formInvalidMessage = ''
        this.formValidMessage = 'Updated!'
      } catch (error) {
        this.$store.dispatch('error', error)
        this.formInvalidMessage = 'There was a problem updating your details.'
        this.formValidMessage = ''
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.email-hint, .email-notifications-hint {
  color: $body-color-subdued;
  font-weight: lighter;
  margin-bottom: 0.5rem;
  @media screen and (min-width: $breakpoint-md) {
    white-space: nowrap;
  }
}

.password-hint {
  overflow: visible;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: $breakpoint-md) {
  .password-hint {
    white-space: nowrap;
  }
}
.privacy-link {
  font-size: 0.7rem;
}
.mb-4\.5 {
  margin-bottom: 2.5rem;
}
</style>

