<template>
  <div class="html-doc">
    <Breadcrumbs :title-override="documentData.DOCUMENT_REFERENCE" />

    <b-container class="document-heading">
      <header>
        <p class="document-heading__standard">{{ documentStandard }}</p>
        <PageHeading>{{ documentData.TITLE }}</PageHeading>
      </header>
    </b-container>

    <Divider variant="thick" />

    <div class="html-wrapper">
      <div class="toc-sidebar-wrapper">
        <Button
          variant="primary"
          class="toc-button"
          :aria-expanded="sidebarOpen"
          @click="toggleSidebarState"
        >
          Table of contents
        </Button>

        <b-card v-show="sidebarOpen" class="toc-sidebar" no-body>
          <template #header>
            <div class="toc-sidebar__header">
              <div class="title-wrapper">
                <h2 id="toc-heading" class="title">Table of contents</h2>

                <span
                  v-b-toggle.table-of-contents-sidebar
                  class="close-button"
                  role="button"
                  @click="toggleSidebarState"
                >
                  Close
                </span>
              </div>

              <Divider variant="thick" />
            </div>
          </template>

          <nav aria-labelledby="toc-heading" class="toc-sidebar__content">
            <ol role="list" class="parent-toc-list">
              <li v-for="(link, index) in tocLinks" :key="index">
                <a :href="link.href" @click.prevent="scrollToAnchor(link.href)">
                  {{ link.label }}
                </a>

                <ol
                  v-if="link.children.length > 0"
                  role="list"
                  class="child-toc-list"
                >
                  <li
                    v-for="(childLink, childIndex) in link.children"
                    :key="childIndex"
                    @click="scrollToAnchor(childLink.href)"
                  >
                    <a
                      :href="childLink.href"
                      @click.prevent="scrollToAnchor(childLink.href)"
                    >
                      {{ childLink.label }}
                    </a>
                  </li>
                </ol>
              </li>
            </ol>
          </nav>
        </b-card>
      </div>

      <iframe
        id="htmlIframe"
        v-resize="iframeConfig"
        class="iframe"
        :srcdoc="htmlSrc"
        frameborder="0"
        @load="appendScript"
      />
    </div>
  </div>
</template>

<script>
import iframeResize from 'iframe-resizer/js/iframeResizer'
/**
 * adding '!!raw-loader!' to the import line will ensure that 
 * webpack loads this file as a string and doesn't evaluate it, 
 * adding '!!' also ensures that all default loaders are overwritten
 */
/* eslint-disable-next-line */
import iframeResizeScript from '!!raw-loader!@/scripts/iframeResizer.contentWindow.min.js'
/* eslint-disable-next-line */
import iframeCustomStyles from '!!raw-loader!@/assets/scss/iframeDocumentStyling.css'

export default {
  directives: {
    resize: {
      bind(el, { value = {} }) {
        el.addEventListener('load', () => iframeResize(value, el))
      },
    },
  },
  layout: 'no-boilerplate',
  data() {
    return {
      sidebarOpen: false,
      documentData: '',
      htmlSrc: '',
      tocPanelOpen: false,
      tocPanelContent: '',
      tocLinks: [],
      iframeConfig: {
        log: false,
        scrolling: false,
        checkOrigin: false,
        inPageLinks: true,
        widthCalculationMethod: 'max',
        bodyMargin: '20',
      },
    }
  },
  head() {
    const head = {}
    head.title = 'HTML Document View'

    return head
  },
  computed: {
    documentStandard() {
      return this.$route.query.standard || ''
    },
  },
  async beforeMount() {
    const [documentHtml, documentData] = await Promise.all([
      this.$tses.get(`attachments/html/${this.$route.params.nodeId}`),
      this.$tses
        .get(`documents/${this.$route.params.nodeId}`, {
          params: { columns: 'TITLE, DOCUMENT_REFERENCE' },
        })
        .then((response) => response.data),
    ])

    this.$data.htmlSrc = documentHtml.data
    this.$data.documentData = documentData
  },
  methods: {
    toggleSidebarState() {
      this.sidebarOpen = !this.sidebarOpen
    },
    scrollToAnchor(anchorId) {
      if (anchorId.charAt(0) === '#') {
        anchorId = anchorId.substring(1)
      }

      const el = document
        .getElementById('htmlIframe')
        .contentWindow.document.getElementById(anchorId)

      if (el) {
        el.scrollIntoView({ behavior: 'smooth' })
      }
    },
    appendScript() {
      this.$nextTick(function () {
        const resizePlugin = document.createElement('script')
        resizePlugin.setAttribute('type', 'application/javascript')
        resizePlugin.text = iframeResizeScript

        const viewportMeta = document.createElement('meta')
        viewportMeta.setAttribute('name', 'viewport')
        viewportMeta.setAttribute(
          'content',
          'width=device-width, initial-scale=1.0'
        )

        const scopedIframeStyling = document.createElement('style')
        scopedIframeStyling.textContent = iframeCustomStyles

        const iframe = document.getElementById('htmlIframe')
        iframe.contentDocument.head.appendChild(resizePlugin)
        iframe.contentDocument.head.appendChild(viewportMeta)
        iframe.contentDocument.head.appendChild(scopedIframeStyling)

        const tocContent =
          iframe.contentWindow.document.getElementById('table-of-contents')

        if (tocContent) {
          const links = []

          if (tocContent.children.length > 0) {
            for (const item of tocContent.children[tocContent.children.length - 1].children) {
              const linkObject = {
                href: item.firstChild.getAttribute('href') || '',
                label: item.firstChild.text,
                children: [],
              }

              links.push(linkObject)

              if (item.children.length > 1) {
                const childrenList = item.lastChild

                for (const childItem of childrenList.children) {
                  if (!childItem.firstChild.getAttribute('href')) {
                    return
                  }

                  linkObject.children.push({
                    href: childItem.firstChild.getAttribute('href'),
                    label: childItem.firstChild.text,
                  })
                }
              }
            }
          }

          this.tocLinks = links
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.html-doc {
  position: relative;

  .toc-sidebar-wrapper {
    position: sticky;
    left: 0;
    top: 0;
  }

  .html-wrapper {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .iframe {
      min-width: 100%;
    }

    .toc-button {
      position: sticky;
      margin-left: 2rem;
      margin-top: 2rem;
      max-width: 15em;
    }

    .toc-sidebar {
      background: white;
      position: absolute;
      top: 0;
      left: 0;
      max-width: 35%;
      box-shadow: 3px 4px 17px rgba(0, 0, 0, 0.15);
      max-height: 100vh;

      @media screen and (max-width: $breakpoint-sm) {
        max-width: 75%;
      }

      @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        max-width: 50%;
      }

      .card-header {
        // clearing out overlapping bootstrap styling
        padding: 0;
        border: none;
      }

      &__header {
        background: white;
        padding: 40px 40px 0;
        width: 100%;

        .title-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 24px;

          .title {
            margin: 0;
            font-size: 1.5rem;
          }

          .close-button {
            color: $brand-primary;
            font-size: 1.125rem;
            font-weight: 700;
          }
        }
      }

      &__content {
        overflow-y: scroll;
        padding-top: 40px;
        padding-bottom: 2rem;
        .parent-toc-list {
          list-style-type: none;
          padding: 0 40px;

          li {
            margin-bottom: 24px;
            font-size: 1rem;
            font-weight: 800;

            a {
              color: $brand-primary;
            }
          }

          .child-toc-list {
            list-style-type: none;

            li {
              margin: 8px 0;
              font-size: 1rem;
              font-weight: 600;

              a {
                color: $body-color-subdued;
              }
            }
          }
        }
      }
    }
  }
}
</style>
