@import './variables';
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

// Container Overrides
@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1152px;
  }
}

// Navbar Overrides
@media screen and (max-width: $breakpoint-lg) {
  .dropdown-menu {
    border: unset;
    border-radius: unset;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
}

.navbar-nav {
  margin-top: 1rem;
  @media screen and (min-width: $breakpoint-lg) {
    margin-top: unset;
  }
}

.navbar-light .navbar-nav .nav-link:hover {
  font-weight: bold;
  color: $body-color;
}

.navbar-light .navbar-nav .nav-link {
  color: $body-color-subdued;
  @media screen and (min-width: $breakpoint-lg) {
    padding: 1rem 24px;
  }
}

.navbar-menu-text {
  font-size: 0.875rem;
  color: $body-color;
  font-weight: bold;
}

.dropdown-item {
  color: $body-color-subdued;
}

// Checkbox / Radio button Overrides
.custom-control {
  display: flex;
  align-items: center;
}

.custom-control-label {
  font-size: 0.875rem;
  font-weight: $font-weight-normal;
}

.custom-control-label::before,
.custom-control-label::after {
  top: 0.15rem;
}

.custom-control-label::before {
  border-color: $input-checkbox-border-color;
}

.custom-control-input {
  height: 1rem;
}

.sr-only-mobile {
  @media screen and (max-width: $breakpoint-md - 1) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}

// Alerts

// Alerts
.alert {
  color: $alert-info-color;
  background-color: $alert-info-bg-color;
  border-color: $alert-info-border-color;
}

.alert-danger {
  color: $brand-danger;
  background-color: #f8d7da;
  border-color: #f8cdcd;
}

// https://jira.nomensa.com/browse/HERB-171
// https://jira.nomensa.com/browse/HERB-152
// remove focus ring on a11y focused headlines
#main-heading[tabindex='-1']:focus,
#main-content[tabindex='-1']:focus,
#results[tabindex='-1']:focus {
  outline: 0 !important;
}

// wcag 2.2 input focus overrides, targeting type text and search
form {
  .input-group-text, .form-control {
    transition: none;
  }
  
  input {
    &[type="text"],
    &[type="search"] {
      border-radius: 4px;
      transition: none;
    }
  }

  .custom-select:focus {
    box-shadow: 0 0 0 3px $brand-primary, 0 0 0 5px #ffffff;
    border-radius: 8px;
    border: 1px solid #ffffff;
  }

  input {
    &[type="text"]:focus,
    &[type="search"]:focus {
      box-shadow: 0 0 0 3px $brand-primary, 0 0 0 5px #ffffff;
    }
    &.was-validated .form-control:valid,
    &.form-control.is-valid {
      border-color: $input-border-color;
    }
    &.was-validated .form-control:invalid,
    &.form-control.is-invalid {
      background-image: none;
    }
  }
}

// buttons and some components handle this themselves
// otherwise global
#main-content {
  a:not(.btn):not(.resource-card):not(.discipline-card-link):focus,
  a:not(.btn):not(.resource-card):not(.discipline-card-link):focus-visible {
    background: $brand-primary;
    color: #ffffff;
    box-shadow: 0 0 0 4px $brand-primary;
    outline: none;
  }
}

// Underlining all links within paragraphs of text for accessibility reasons
// I went through the templates and made sure that all instances where an 'a' tag exists in
// a paragraph is actually where we would want them to be underlined
// basically, it's going to apply to CMS controlled content over base templates
// keep in mind that if it changes in the future this rule might need to be updated
p a {
  text-decoration: underline;
}
