<template>
  <Card v-if="!removedSyncVal" :type="{ divided: true }">
    <article class="bookmark-card-article">
      <header class="bookmark-card-header">
        <h3 class="bookmark-card-title">
          <nuxt-link v-if="documentPageUrl" :to="documentPageUrl">{{
            title
          }}</nuxt-link>
          <span v-else>{{ title }}</span>
        </h3>
      </header>

            <div v-if="discipline || lifecycleStage">
        <span class="bookmark-card-notes">
          <p>
            {{ discipline }}<br />
            {{ lifecycleStage }}
          </p>
        </span>
      </div>

      <div class="bookmark-card-lifecycle">
      </div>

      <footer class="bookmark-card-footer">
        <div class="bookmark-card-revision">
          <p v-if="revision"><b>Revision:</b> {{ revision }}</p>
          <p v-if="from"><b>Suite:</b> {{ from }}</p>
          <p v-if="issued"><b>Issued:</b> {{ issued }}</p>
        </div>

        <b-row>
          <b-col cols="2" md="4">
            <div v-if="htmlDocumentLink" class="bookmark-card-cta">
              <a
                :rel="isWithdrawn ? 'nofollow' : ''"
                :href="htmlDocumentLink"
                :title="`Open HTML for ${title}. Opens or opens new window`"
                @click="onOpenHtml"
              >
                <span>Open</span>
                <span class="sr-only">Opens HTML in new window</span>
              </a>
            </div>
            <div v-else-if="attachmentUrl" class="bookmark-card-cta">
              <a
                :rel="isWithdrawn ? 'nofollow' : ''"
                :href="attachmentUrl + '?inline=true'"
                :title="`Open PDF for ${title}. Opens or opens new window`"
                target="_blank"
                @click="onOpenPdf"
              >
                <span>Open</span>
                <span class="sr-only">Opens PDF in new window</span>
              </a>
            </div>
          </b-col>
          <b-col cols="2">
            <div v-if="attachmentUrl" class="bookmark-card-cta">
              <a
                :rel="isWithdrawn ? 'nofollow' : ''"
                :href="attachmentUrl"
                :title="`Downloads a PDF for ${title}.`"
                @click="onDownloadPdf"
              >
                <span>Download</span>
                <span class="sr-only">Downloads the document as a PDF</span>
              </a>
            </div>
          </b-col>
          <b-col class="position-static d-flex justify-content-end">
            <Button variant="link" class="bookmark-card-remove" @click.prevent="onRemove">Remove</Button>
          </b-col>
        </b-row>

      </footer>
    </article>
  </Card>
</template>

<script>
export default {
  props: {
    htmlDocumentLink: {
      type: String,
      default: null,
    },
    attachmentUrl: {
      type: String,
      default: null,
    },
    title: {
      type: String,
      required: true,
    },
    notes: {
      type: String,
      default: '',
    },
    revision: {
      type: String,
      default: '',
    },
    discipline: {
      type: String,
      default: '',
    },
    lifecycleStage: {
      type: String,
      default: '',
    },
    from: {
      type: String,
      default: '',
    },
    issued: {
      type: String,
      default: '',
    },
    isWithdrawn: {
      type: Boolean,
      default: false,
    },
    documentPageUrl: {
      type: String,
      default: '',
    },
    documentNodeId: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      removedSyncVal: false
    }
  },
  methods: {
    onDownloadPdf() {
      const { name } = this.$router.app.$route
      this.$store.dispatch('bookmarkCardOnDownloadPdf', {
        name,
        clickText: 'Download',
        documentNodeId: this.documentNodeId,
      })
    },
    onOpenHtml() {
      const { name } = this.$router.app.$route
      this.$store.dispatch('bookmarkCardOnOpenHtml', {
        name,
        clickText: 'Open HTML',
        documentNodeId: this.documentNodeId,
      })
    },
    onOpenPdf() {
      const { name } = this.$router.app.$route
      this.$store.dispatch('bookmarkCardOnOpenPdf', {
        name,
        clickText: 'Open PDF',
        documentNodeId: this.documentNodeId,
      })
    },
    onRemove() {
      this.removedSyncVal = true

      this.$store.dispatch('onBookmarkCardRemove', { documentNodeId: this.documentNodeId })
      
      setTimeout(() => {
        this.removedSyncVal = false
      }, 1500)
    },
  },
}
</script>

<style lang="scss" scoped>
.bookmark-card-article {
  margin: 1rem 0;
  position: relative;
}

.bookmark-card-remove {
  text-align: end;
  padding: 0;
  border: none;
  margin-top: -3px;
  color: $brand-danger;

  @media screen and (min-width: $breakpoint-md) {
    color: $brand-primary;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.bookmark-card p {
  margin: 0;
}

.bookmark-card-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  @media screen and (min-width: $breakpoint-md) {
    max-width: 448px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

span.bookmark-card-notes {
  font-size: 0.875rem;
  color: $body-color;
  margin-bottom: 2.5rem;
}

.bookmark-card-revision {
  max-width: 330px;
  margin-bottom: 2.5rem;
  p {
    font-size: 0.875rem;
    display: inline-block;
    margin-bottom: 0;
    margin-right: 2rem;
    margin-left: 0;
    color: $body-color;
  }

  @media screen and (min-width: $breakpoint-md) {
    margin-bottom: 0;
    max-width: unset;
    padding-left: 48px;
    flex: 1;
    text-align: right;

    p {
      margin-right: 0;
      margin-left: 2rem;
    }
  }
}

.bookmark-card-cta {
  font-size: 1rem;
}

.bookmark-card-header {
  @media screen and (min-width: $breakpoint-md) {
    display: flex;
  }
}

.bookmark-card-footer {
  @media screen and (min-width: $breakpoint-md) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
  }
}

.bookmark-card-lifecycle {
  margin: 0.5rem 0 1rem;
}
</style>
