<template>
  <header class="header">
    <b-container>
      <b-row>
        <b-col>
          <SkipLink target-hash="#main-content">Skip to main content</SkipLink>
          <b-navbar toggleable="lg">
            <b-navbar-brand href="/">
              <Logo />
            </b-navbar-brand>

            <b-navbar-toggle
              toggleable="lg"
              :target="collapseId"
              label="Menu, toggle navigation">
              <span class="navbar-menu-text">
                <span>Menu</span>
                <span class="navbar-notification-container">
                  <span
                      v-if="!open && showUpdateNotificationBadge"
                      class="notification">
                    <span class="sr-only">New update</span>
                  </span>
                </span>
              </span>
            </b-navbar-toggle>

            <b-collapse
              :id="collapseId"
              v-model="open"
              is-nav
              class="header-menu"
            >
              <div class="nav-search-container" :class="!signedIn && 'navbar-signed-out'">
                <SearchBox
                  id="header-search"
                  ref="searchBox"
                  :small="true"
                  accessible-label="Search"
                  with-icon
                  header
                  :placeholder="searchPlaceholder"
                  class="header-searchbox"
                  aria-label="Site search, primary"
                  @submit="handleSubmit"
                />
              </div>

              <!-- Right aligned nav items -->
              <b-navbar-nav class="ml-auto">
                <b-nav-item-dropdown text="Standards" no-caret :class="standardsActive && 'standards-active'" class="header-standards-navbar-option">
                  <template #button-content>
                    <div class="caret-item">
                      <span class="caret-text" :class="!standardsActive && 'caret-text-not-selected'">Standards</span>
                      <span class="caret" :class="standardsOpen ? 'caret-open' : 'caret-closed'">
                        <img :src="caretIcon" alt="" />
                      </span>
                    </div>
                  </template>

                  <b-dropdown-item v-for="standard in standards" :key="standard.text" :href="standard.link">
                    {{ standard.text }}
                  </b-dropdown-item>
                </b-nav-item-dropdown>

                <b-nav-item :link-attrs="{ title: 'Updates' }" to="/updates">
                  <span class="outer">
                    <span>Updates</span>
                    <span
                        v-if="showUpdateNotificationBadge"
                        class="notification">
                      <span class="sr-only">New update</span>
                    </span>
                  </span>
                </b-nav-item>
                <b-nav-item :link-attrs="{ title: 'Help' }" to="/help">
                  <span class="outer">
                    <span>Help</span>
                  </span></b-nav-item
                >
                <b-nav-item :link-attrs="{ title: 'Feedback' }" to="/feedback">
                  <span class="outer">
                    <span>Feedback</span>
                  </span></b-nav-item
                >

                <div class="navbar-divider" />

                <client-only>
                  <b-nav-item v-if="!signedIn" :link-attrs="{ title: 'Sign in' }" :active="signInActive" to="/sign-in"
                  ><span class="outer">
                      <span>Sign in</span>
                  </span></b-nav-item
                >
                  <b-nav-item v-if="signedIn" :link-attrs="{ title: 'My account' }" to="/my-account"
                  ><span class="outer">
                      <span>My account</span>
                  </span></b-nav-item
                >
                  <b-nav-item v-if="signedIn" :link-attrs="{ title: 'Sign out' }" @click.prevent="signOut"
                  ><span class="outer">
                      <span>Sign out</span>
                    </span>
                  </b-nav-item>
                </client-only>
              </b-navbar-nav>
            </b-collapse>
          </b-navbar>
        </b-col>
      </b-row>
    </b-container>
  </header>
</template>

<script>
import { getLastUpdateViewed } from '../helpers/latestUpdate'
import { INDEX_PATH } from '../config/paths'
import currentBootstrapBreakpoint from '../mixins/currentBootstrapBreakpoint'
import caretIcon from '~/assets/icons/caret-icon.svg'
import { navStandards } from '~/config/suites.js'

export default {
  mixins: [currentBootstrapBreakpoint],
  data() {
    return {
      updatesInSavedDocs: null,
      index: INDEX_PATH,
      collapseId: 'nav-collapse',
      open: false,
      standardsOpen: false,
      caretIcon,
      standards: navStandards,
    }
  },
  computed: {
    showUpdateNotificationBadge() {
      if (!this.signedIn) return this.signedOutShowUpdateNotificationBadge()

      // If the user's seen the updates already don't show either way
      if (!this.signedOutShowUpdateNotificationBadge()) {
        return false

      // If the user hasn't but updatesInSavedDocs hasn't finished updating,
      // show badge
      } else if (this.updatesInSavedDocs === null) {
        return true
      }

      return this.updatesInSavedDocs
    },
    user() {
      return this.$store.getters?.user ?? {}
    },
    signInActive() {
      return /^\/(sign-in|create-account)/.test(this.$nuxt.$route.path)
    },
    standardsActive() {
      return /^\/(mchw|dmrb)/.test(this.$nuxt.$route.path)
    },
    signedIn() {
      return this.$store.getters.signedIn
    },
    searchPlaceholder() {
      return this.currentBreakpoint === 'md' || this.currentBreakpoint === 'xl'
        ? "Search all standards"
        : "Search"
    },
  },
  async mounted() {
    if (this.signedIn) this.updatesInSavedDocs = await this.userHasUpdatesInSavedDocs()

    this.$store.dispatch('publications/getLatestPublication')

    this.$root.$on('bv::dropdown::show', () => {
      this.standardsOpen = true
    })

    this.$root.$on('bv::dropdown::hide', () => {
      this.standardsOpen = false
    })
  },
  methods: {
    async userHasUpdatesInSavedDocs() {
      try {
        const { data: latestUpdates } = await this.$authenticated('/saved-documents/latest/' + this.user.id)
        return latestUpdates.length > 0
      } catch (error) {
        return null
      }
    },
    signedOutShowUpdateNotificationBadge() {
      const lastUpdateViewed = getLastUpdateViewed()
      const latestUpdateTitle =
        this.$store.getters['publications/latestPublicationTitle']

      // Don't show notification badge for first-time users
      if (!lastUpdateViewed || !latestUpdateTitle) return false

      return lastUpdateViewed !== latestUpdateTitle
    },
    async signOut() {
      await this.$authenticated('/deauthenticate')
      this.$store.commit('signedIn', { signedIn: false })
      this.$forceUpdate()
      this.$router.push('/sign-in')
    },
    handleSubmit() {
      const { searchBox } = this.$refs
      const { name } = this.$router.app.$route
      this.$store.dispatch('headerSearchOnSubmitSearch', { name, ref: searchBox })

      if (this.open) {
        this.$root.$emit('bv::toggle::collapse', this.collapseId)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
$header-search-border-radius: 8px;

.header {
  border-bottom: 1px solid #eee;
}

.header-menu {
  padding: 1.5rem 0;

  @media screen and (min-width: $breakpoint-lg) {
    padding: 0;
    align-items: stretch;
    align-self: stretch;
  }
}

.navbar {
  padding: 7px 0;
  @media screen and (min-width: $breakpoint-lg) {
    padding: 0;
  }
}

.navbar-brand {
  margin-right: 2rem;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: $body-color;
  font-weight: 700;
}

#__BVID__57__BV_toggle_.nav-link.dropdown-toggle.dropdown-toggle-no-caret {
  padding: 8px 0 !important;
}

.navbar-light .navbar-nav .nav-link {
  padding: 8px 0;
  font-weight: normal;
  color: $body-color-subdued;
  position: relative;

  &:hover {
    font-weight: bold;
    color: $body-color;
    &:after {
      border-color: $body-color;
    }
  }

  @media screen and (min-width: $breakpoint-lg) {
    padding: 1rem 24px;
    display: flex;
    align-items: center;

    & > span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
    /*
    Adds the link title as the bolded version but visibly hidden to prevent
    navigation from jumping around when the font-weight changes
     */
    &::before {
      content: attr(title);
      display: block;
      font-weight: bold;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }
}

.navbar-light .navbar-nav .nav-link.nuxt-link-active {
  color: $body-color;
  position: relative;
  font-weight: bold;

  &:hover {
    font-weight: normal;
    color: $body-color-subdued;
  }

  @media screen and (min-width: $breakpoint-lg) {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 2px solid $body-color-subdued;
    }
  }
}

.navbar-nav {
  font-size: 0.875rem;

  @media screen and (min-width: $breakpoint-lg) {
    margin-top: 0;
  }
}

.nav-item {
  height: 100%;
  @media screen and (min-width: $breakpoint-lg) {
    display: flex;
    align-items: stretch;
  }
}

.navbar-light .navbar-toggler {
  border: 0;
}

.nav-search-container {
  flex: 0 1 100%;

  @media screen and (min-width: $breakpoint-lg) {
    padding: 0.5rem 0;
    flex-basis: 150px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    &.navbar-signed-out {
      flex-basis: 285px;
    }
  }

  @media screen and (min-width: 1070px) {
    flex-basis: 195px;
    &.navbar-signed-out {
      flex-basis: 311px;
    }
  }

  @media screen and (min-width: $breakpoint-xl) {
    flex-basis: 311px;
    &.navbar-signed-out {
      flex-basis: 450px;
    }
  }

  @media screen and (min-width: $breakpoint-xxl) {
    flex-basis: 450px;
    &.navbar-signed-out {
      flex-basis: 561px;
    }
  }

  @media screen and (min-width: 1722px) {
    flex-basis: 561px;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .navbar, .container, .container > .row, .container > .row > .col {
    position: static;
  }

  .navbar-nav {
    position: absolute;
    right: 0;
    height: 54px;
  }
}

.header-searchbox {
  width: 100%;
}

.header-searchbox.with-icon {
  border-radius: $header-search-border-radius;
}

.header-searchbox ::v-deep .form-control {
  border-top-right-radius: $header-search-border-radius;
  border-bottom-right-radius: $header-search-border-radius;
  background-color: $header-search-bg;
  border-color: $header-search-bg;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  height: 2.375rem;
}

.header-searchbox {
  &:hover {
    ::v-deep .form-control {
      border-color: lighten($body-color-subdued, 40%);
    }

    ::v-deep .with-icon {
      .b-icon {
        fill: $body-color;
        opacity: 1;
      }
    }
  }
}

.header-searchbox:hover ::v-deep .input-group-text {
  border-color: lighten($body-color-subdued, 40%);
}

.header-searchbox ::v-deep .with-icon {
  .b-icon {
    fill: #262626;
    opacity: 0.69;
  }
}

.header-searchbox ::v-deep .with-icon.is-focused {
  .input-group-text {
    background-color: white;
    border-color: lighten($body-color-subdued, 40%);
  }

  .b-icon {
    fill: $body-color;
    opacity: 1;
  }
}

.header-searchbox ::v-deep .form-control:focus {
  border-color: lighten($body-color-subdued, 40%);
  background-color: white;
}

.header-searchbox ::v-deep .input-group-text {
  border-top-left-radius: $header-search-border-radius;
  border-bottom-left-radius: $header-search-border-radius;
  background-color: $header-search-bg;
  border-color: $header-search-bg;
  padding-top: 0;
  padding-bottom: 0;
}

.outer {
  position: relative;
  & span {
    white-space: nowrap;
  }
}

.notification {
  display: inline-flex;
  width: 8px;
  height: 8px;
  background: #f15252;
  border-radius: 50%;
  position: absolute;
  left: calc(100% + 2px);
  top: -0.2em;
  color: white;
  font-size: 8px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.navbar-notification-container {
  position: relative;
}

.navbar-notification-container .notification {
  left: 0%;
  top: -2px;
}

.outer {
  position: relative;
}

.caret {
  position: absolute;
  right: 0;
  color: $body-color;
  transition: transform .3s;
}

.caret-open {
  transform: rotate(180deg);
}

.caret-closed {
  transform: rotate(0deg);
}

@media screen and (min-width: $breakpoint-lg) {
  .navbar-container {
    margin-right: 0;
  }

  .caret {
    display: none;
  }

  .caret-text {
    position: absolute;
    right: 25px;
  }

  .navbar-light .navbar-nav .nav-link:hover .caret-text.caret-text-not-selected {
    right: 24px;
  }

  .caret-item:before {
    content: 'Standards';
    font-weight: bold;
    visibility: hidden;
  }

  .nav-container {
    position: relative;
  }
}

.sign-out {
  a {
    margin-right: 1.5rem;
  }
}

.standards-active, .sign-in > .active {
  border-bottom: 2px solid $body-color-subdued;
  & span {
    font-weight: bold;
    color: black;
  }
}

.split {
  width: 1px;
  background: $header-search-bg;
  margin: 0.5rem 0
}

ul.navbar-nav {
  display: flex;
  @media screen and (min-width: $breakpoint-lg) {
    align-items: center;
  }
  .navbar-divider {
    width: 1px;
    background-color: $navbar-border-color;
    height: 70%;
  }
}
</style>
