<template>
  <div>
    <h2>Search</h2>
    <b-form
      class="search-form"
      role="search"
      :aria-label="searchAriaLabel"
      @keydown.enter="onSubmit"
    >
      <b-form-group
        :label="searchLabel"
        label-for="PageSearchBox"
        class="search-form-input"
      >
        <p id="pageSearchExample" class="search-form-example">
          {{ searchExample }}
        </p>

        <b-form-input
          id="PageSearchBox"
          v-model="searchTerm"
          type="search"
          placeholder="Search for a document"
          aria-describedby="pageSearchExample"
        ></b-form-input>
      </b-form-group>

    </b-form>
  </div>
</template>

<script>
import { SEARCH_PATH } from '../config/paths'
import suiteOptions from '../config/suites'

const suiteOptionsData = [
  {
    text: 'All standards',
    value: 'all'
  },
  ...suiteOptions
]

export default {
  props: {
    searchPath: {
      type: String,
      default: SEARCH_PATH,
    },
    searchExample: {
      type: String,
      default: 'For example, ‘GG 101’ not ‘GG101’',
    },
    searchLabel: {
      type: String,
      default: 'Search for document names or codes',
    },
    searchAriaLabel: {
      type: String,
      default: 'Search the DMRB, primary',
    },
  },

  data() {
    return {
      searchTerm: this.$route.query.q || '',
      suiteOptions: suiteOptionsData,
      selectedSuite: null
    }
  },

  watch: {
    '$route.query.q'() {
      this.$data.searchTerm = this.$route.query.q
    },
  },

  mounted() {
    const { suite } = this.$route.query;
    this.selectedSuite = suite || 'all';
  },

  methods: {
    onSubmit(e) {
      e.preventDefault()
      this.$emit('submit', this.searchTerm)

      this.$router.push({
        path: this.searchPath,
        query: {
          ...this.$route.query,
          q: this.searchTerm,
          pageNumber: 1,
        },
      })
    },
    onSelect() {
      this.$router.push({
        path: this.searchPath,
        query: {
          ...this.$route.query
        }
      })
    }
  },
}
</script>

<style lang="scss" scoped>
h2 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.375rem;
}

.search-form {
  @media screen and (min-width: $breakpoint-md) {
    display: flex;
    align-items: flex-end;
  }
}

.search-form-input {
  flex: 1;

  &::v-deep legend {
    padding-bottom: 0;
  }

  &__select {
    margin-top: 20px;
  }
}

.search-form-example {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0.5rem 0 1rem 0;
}

#pageSearchExample {
  color: $body-color-subdued;
}
</style>
