<template>
  <div>
    <header>
      <PageHeadingLabel>
        {{ label }}
      </PageHeadingLabel>

      <PageHeading>{{ title }}</PageHeading>
      <Divider variant="thick" />
    </header>
    <section class="copy">
      <slot />
    </section>
  </div>
</template>

<script>
export default {
  // eslint-disable-next-line vue/require-prop-types
  props: ['label', 'title']
}
</script>

<style lang="scss" scoped>
.copy {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: $breakpoint-md) {
  .copy {
    margin-top: 2rem;
  }
}
</style>
