<template>
  <b-input-group class="input-group">
    <b-input-group-prepend v-if="withIcon" is-text>
      <button type="submit" class="search-button" aria-label="Search">
        <b-icon icon="search"></b-icon>
      </button>
    </b-input-group-prepend>

    <b-form-input
      :id="id"
      ref="input"
      :value="searchTerm"
      type="search"
      class="search-input"
      :class="{
        'with-icon': withIcon,
        'search-input-md': !small,
        'search-input-sm': small,
      }"
      :placeholder="placeholder"
      inputmode="search"
      :autocomplete="autocomplete"
      :aria-describedby="ariaDescribedby"
      @focus="focus"
      @blur="blur"
      @input="input"
    ></b-form-input>
  </b-input-group>
</template>

<script>
export default {
  props: {
    small: {
      type: Boolean,
      default: false,
    },
    placeholder: {
      type: String,
      default: 'Search...',
    },
    withIcon: {
      type: Boolean,
      default: false,
    },
    id: { type: String, default: undefined },
    searchTerm: { type: String, default: '' },
    autocomplete: { type: String, default: undefined },
    ariaDescribedby: { type: String, default: undefined },
  },
  methods: {
    focus(e) {
      this.$emit('focus', e)
    },
    blur(e) {
      this.$emit('blur', e)
    },
    input(e) {
      this.$emit('input', e)
    },
  },
}
</script>

<style lang="scss" scoped>
.input-group {
  border-radius: 8px;
}

.input-group-text {
  border-right: 0;
  background-color: #fff;
  padding: 0;
  display: flex;
  align-items: stretch;
  z-index: 1;
}

.search-input-md {
  height: 48px;
}

.search-input-sm {
  height: 38px;
}

.form-control.with-icon {
  border-left: 0;
}

.form-control.with-icon:focus {
  box-shadow: none;
}

.with-icon.is-focused .input-group-text {
  border-color: $input-focus-border-color; // this causes a double focus ring around the button, delete?
}

.search-input {
  padding-left: 2px;
}

.is-focused {
  .search-button {
    background: white;
    opacity: 1;
    border-radius: 7px 0 0 7px;
    svg {
      fill: $body-color;
    }
  }
}

.search-button {
  appearance: none;
  border: 0;
  background: transparent;
  padding: 0 12px;
  margin: 0;
  color: #222;
  opacity: 0.69;

  &:hover,
  &:active {
    opacity: 1;
  }
}
</style>
