<template>
  <div v-click-outside="handleClickOutside" class="search-container">
    <b-form
      :class="{ 'with-icon': withIcon }"
      class="d-flex search-form"
      role="search"
      :aria-label="ariaLabel"
      @submit="handleSubmit"
    >
      <label v-if="accessibleLabel && id" class="sr-only" :for="id">{{
        accessibleLabel
      }}</label>

      <div class="d-flex search-form__row w-100">
        <b-form-group class="w-100" label="Search the site" :label-for="id" :label-sr-only="header">
          <SearchInput
            :id="id"
            ref="searchInput"
            v-model="searchTerm"
            :small="small"
            class="search-form__input w-100"
            :class="{ 'is-focused': isFocused }"
            :placeholder="placeholder"
            :with-icon="withIcon"
            autocomplete="off"
            @focus="handleFocus"
            @blur="isFocused = false"
          />
        </b-form-group>

        <b-form-group 
          v-if="suiteSelect"
          class="suite-select"
          label="Select a standard"
          label-for="standardSelect"
        >
          <b-form-select
            id="standardSelect"
            v-model="selectedSuite"
            :options="suiteOptions"
            @change="onSuiteSelect"
          />
        </b-form-group>
      </div>

      <div v-if="dateSelect" class="d-flex search-form__row mt-2">
        <div class="mobile-form">
          <b-form-checkbox
            v-model="selectedDateTrayOpen"
            class="archive-checkbox"
            @change="onDateTrayOpen"
          >
            Search historical documents
          </b-form-checkbox>

          <b-collapse id="date-tray-collapse">
            <b-form-group>
              <Datepicker
                v-model="selectedDate"
                class="datepicker"
                label="Select a date"
                @selectedDate="onDateSelect"
              />
            </b-form-group>

            <b-form-group class="submit">
              <Button type="submit" variant="primary">Search</Button>
            </b-form-group>
          </b-collapse>
        </div>

        <div class="desktop-form">
          <b-form-group class="desktop-form__datepicker">
            <Datepicker
              v-model="selectedDate"
              label="Select a date"
              @selectedDate="onDateSelect"
            />
          </b-form-group>

          <b-form-group class="submit">
            <Button class="submit-button" type="submit" variant="primary">Search</Button>
          </b-form-group>
        </div>
      </div>
    </b-form>

    <div v-if="recentLinks.length" aria-live="polite">
      <div
        class="recent-dropdown"
        :style="{ display: showRecent ? 'block' : 'none' }"
        :aria-hidden="!showRecent"
      >
        <header>
          <h4>Recent documents</h4>
          <Button variant="link" @click="handleClearRecent"
            >Clear recent</Button
          >
        </header>
        <ul role="menu">
          <li v-for="(quickLink, index) in recentLinks" :key="quickLink.link">
            <a
              :href="quickLink.link"
              @focus="showRecentIsFocused = true"
              @blur="handleLinkBlur(index)"
              >{{ quickLink.title }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { SEARCH_PATH } from '../config/paths'
import {
  getRecentDownloads,
  clearRecentItems,
} from '../helpers/recentDownloads'
import suiteOptions from '../config/suites'
import { INPUT_DATE_FORMAT, OUTPUT_DATE_FORMAT } from '~/config/site'

const suiteOptionsData = [
  {
    text: 'All standards',
    value: 'all',
  },
  ...suiteOptions,
]

export default {
  props: {
    small: {
      type: Boolean,
      default: false,
    },
    withIcon: {
      type: Boolean,
      default: false,
    },
    placeholder: {
      type: String,
      default: 'Search...',
    },
    onSubmit: {
      type: Function,
      default: undefined,
    },
    id: { type: String, default: undefined },
    accessibleLabel: { type: String, default: undefined },
    ariaLabel: {
      type: String,
      default: undefined,
    },
    suiteSelect: {
      type: Boolean,
      default: false,
    },
    dateSelect: {
      type: Boolean,
      default: false,
    },
    header: {
      type: Boolean,
      default: false
    },
    initialSelectedSuite: {
      type: String,
      default: suiteOptionsData[0].value,
    }
  },
  data() {
    return {
      searchTerm: this.$route.query.q || '',
      isFocused: false,
      showRecent: false,
      showRecentIsFocused: false,
      recentLinks: [],
      suiteOptions: suiteOptionsData,
      selectedSuite: this.initialSelectedSuite,
      selectedDate: null,
      selectedDateTrayOpen: false,
    }
  },
  watch: {
    '$route.query.q'() {
      this.$data.searchTerm = this.$route.query.q
    },
  },
  mounted() {
    window.addEventListener('keydown', this.handleKeyboard)
  },
  destroyed() {
    window.removeEventListener('keydown', this.handleKeyboard)
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault()
      this.$emit('submit', this.searchTerm)

      if (this.onSubmit) {
        this.onSubmit(e)
      } else {
        const to = this.$dayjs(this.selectedDate, INPUT_DATE_FORMAT)
        const from = to

        this.$router.push({
          path: SEARCH_PATH,
          query: {
            q: this.searchTerm,
            pageNumber: 1,
            suite: this.selectedSuite ? this.selectedSuite : 'all',
            to: to.isValid() ? to.format(OUTPUT_DATE_FORMAT) : undefined,
            from: from.isValid() ? from.format(OUTPUT_DATE_FORMAT) : undefined,
          },
        })
      }
    },
    handleIconClick() {
      this.$refs.input && this.$refs.input.$el && this.$refs.input.$el.focus()
    },
    handleFocus() {
      this.isFocused = true
      this.showRecent = true
      this.recentLinks = getRecentDownloads()
    },
    handleLinkBlur(index) {
      if (index === this.recentLinks.length - 1) {
        this.closeRecent()
      }
    },
    closeRecent() {
      this.showRecent = false
      this.showRecentIsFocused = false
    },
    handleKeyboard(event) {
      const keycode = event.code.toLowerCase()
      const { shiftKey } = event

      if (this.isFocused || this.showRecentIsFocused) {
        if (shiftKey && keycode === 'tab') {
          this.closeRecent()
        }

        if (
          (keycode === 'escape' || keycode === 'esc') &&
          this.showRecent === true
        ) {
          this.closeRecent()
        }
      }
    },
    handleClickOutside() {
      if (this.showRecent) {
        this.closeRecent()
      }
    },
    handleClearRecent() {
      clearRecentItems()
      this.recentLinks = []
      this.closeRecent()
    },
    onSuiteSelect(suite) {
      this.selectedSuite = suite
    },
    onDateSelect(date) {
      this.selectedDate = date
    },
    onDateTrayOpen() {
      this.$root.$emit('bv::toggle::collapse', 'date-tray-collapse')
    },
  },
}
</script>

<style lang="scss" scoped>
.with-icon.is-focused {
  border-radius: $input-border-radius;

  ::v-deep .input-group-text {
    border-color: #ffffff;
  }

  ::v-deep .search-button {
    box-shadow: none;
    opacity: 1;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
  }
}

.search-container {
  position: relative;

  .search-form {
    flex-direction: column;

    &__row {
      flex-direction: column;

      @media screen and (min-width: $breakpoint-md) {
        flex-direction: row;
        align-items: end;
      }

      .submit {
        & button {
          width: 100%;

          &:focus {
            box-shadow: 0px 0px 0px 2px #ffffff, 0 0 0 4px #2c45df;
            border-color: #ffffff;
        }
          
          @media screen and (min-width: $breakpoint-md) {
            & button {
              width: auto;
            }
          }
        }
      }

      .mobile-form {
        @media screen and (min-width: $breakpoint-md) {
          display: none;
        }

        .archive-checkbox {
          margin-bottom: 32px;

          @media screen and (min-width: $breakpoint-md) {
            display: none;
          }
        }

        #date-tray-collapse {
          .datepicker {
            margin-bottom: 32px;
          }
        
          @media screen and (min-width: $breakpoint-md) {
            display: none;
          }
        }
      }

      .desktop-form {
        display: none;
        gap: 1rem;
        width: 50%;

        @media screen and (min-width: $breakpoint-md) {
          display: flex;
          align-items: end;
        }

        &__datepicker {
          flex: 3;
        }

        .submit {
          flex: 2;
          margin-bottom: 0;
        }
      }

      .suite-select {
        width: 100%;
        border-radius: 8px;
        margin-top: 16px;

        @media screen and (min-width: $breakpoint-md) {
          white-space: nowrap;
          width: 25%;
          margin-left: 32px;
          margin-top: 0px;
        }

      }
    }
  }
}

.recent-dropdown {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  background: white;
  margin: 0;
  top: calc(100% + 4px);
  text-shadow: none;
  color: $body-color;
  border-radius: 8px;
  border: 1px solid $brand-border-color;

  header {
    display: flex;
    align-items: center;
  }

  h4 {
    font-size: 14px;
    font-weight: bold;
    padding: 0.9375rem 15px;
    margin: 0;
    flex: 1;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .btn {
    font-size: 0.75rem;
    min-width: 0;
  }
}

.is-focused {
  box-shadow: 0 0 0 3px $brand-primary, 0 0 0 5px #ffffff;
}

.recent-dropdown a {
  display: block;
  padding: 0.6875rem 15px;
  font-size: 12px;
  font-weight: 500;
  color: inherit;

  &:hover,
  &:active,
  &:focus {
    background-color: $header-search-bg;
    text-decoration: underline;
  }
}
 .form-group {
   margin-bottom: unset;
 }
</style>
