<template>
  <div>
    <div class="search-status-wrapper">
      <h2 role="status" aria-live="polite"><slot /></h2>
      <nuxt-link v-if="link && linkText" :to="link">
        {{ linkText }}
      </nuxt-link>
    </div>

    <slot name="order-info" />
    <Divider variant="thick" class="mb-4" />
  </div>
</template>

<script>
export default {
  props: {
    link: {
      type: String,
      default: undefined,
    },
    linkText: {
      type: String,
      default: undefined,
    },
  }
}
</script>

<style lang="scss" scoped>
h2 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0;
}

p,
span {
  font-size: 0.875rem;
  color: $body-color-subdued;
}

.search-status-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
