<template>
  <div>
    <slot name="search-input" />

    <b-button
      variant="link"
      class="filters-collapse-button"
      block
      @click="handleCollapseToggle"
    >
      <div class="filter-collpase-button-content">
        <span class="filter-collpase-button-content">
          <span>{{ filterButtonLabel }}</span>

          <client-only>
            <span v-if="filterCount">
              <span>&nbsp;({{ filterCount }})</span>
              <span class="sr-only">
                filter<span v-if="filterCount > 1">s</span> selected</span
              >
            </span>
          </client-only>
        </span>

        <b-icon :icon="buttonIcon"></b-icon>
      </div>
    </b-button>

    <b-collapse
      id="search-filters"
      :visible="isOpen"
      @hidden="handleFiltersClosed"
    >
      <div class="filters-container">
        <div class="filters-header">
          <h2 class="sr-only-mobile filters-header__mobile">
            <client-only>
              <span v-if="filterCount">
                <span>({{ filterCount }})</span>
                <span class="sr-only">
                  filter<span v-if="filterCount > 1">s</span> selected</span
                >
              </span>
            </client-only>
          </h2>

          <Button variant="link" @click="clearFilters">
            Clear all filters ({{ filterCount }})
          </Button>
        </div>

        <b-form ref="filters-form" class="pt-3">
          <!-- collapsible general filters -->
          <fieldset>
            <hr />
            <div v-b-toggle.general-filters class="collapsible-filter-group">
              <legend>
                <span
                  ref="general-filters-toggle"
                  role="button"
                  class="filters-label"
                  >General Filters</span
                >
              </legend>
              <b-icon class="chevron" :icon="generalFiltersCollapseState" />
            </div>

            <b-collapse
              id="general-filters"
              visible
              @hide="toggleGeneralFilters"
              @show="toggleGeneralFilters"
            >
              <b-form-group
                class="pb-2 filters-subcategory-label"
                label="Filter by Standards:"
                label-for="standardCheckboxGroup"
              >
                <b-form-checkbox-group
                  id="standardCheckboxGroup"
                  v-model="selectedSuiteOption"
                  :options="suiteOptions"
                  class="suite-options"
                  stacked
                  value-field="key"
                  @change="onSelect"
                ></b-form-checkbox-group>
              </b-form-group>

              <Datepicker
                id="from-date"
                v-model="fromDate"
                label="From date:"
                class="pb-2"
                @input="onSelect"
              >
              </Datepicker>

              <Datepicker
                id="to-date"
                v-model="toDate"
                label="To date:"
                class="pb-2"
                @input="onSelect"
              >
              </Datepicker>

              <b-form-group
                class="pb-2 filters-subcategory-label exact-search"
                label="Filter by exact matches"
                label-for="exactSearchCheckbox"
              >
                <b-form-checkbox
                  id="exactSearchCheckbox"
                  v-model="filterByExactMatch"
                  name="lifecycle"
                  @change="onSelect"
                >
                  Show only exact matches
                </b-form-checkbox>
              </b-form-group>
            </b-collapse>
          </fieldset>

          <!-- collapsible DMRB filters -->
          <div v-if="selectedSuiteOption.includes('DMRB')">
            <fieldset>
              <hr />
              <div v-b-toggle.dmrb-filters class="collapsible-filter-group">
                <legend>
                  <span role="button" class="filters-label">
                    DMRB Filters
                  </span>
                </legend>
                <b-icon class="chevron" :icon="dmrbFiltersCollapseState" />
              </div>

              <b-collapse
                id="dmrb-filters"
                @hide="toggleDmrbFilters"
                @show="toggleDmrbFilters"
              >
                <b-form-group
                  class="pb-2 filters-subcategory-label"
                  label="Filter by discipline"
                  label-for="disciplineDropdown"
                >
                  <b-form-select
                    id="disciplineDropdown"
                    v-model="selectedDiscipline"
                    :options="
                      disciplines.map(({ text, key }) => ({ text, value: key }))
                    "
                    @change="onSelect"
                  ></b-form-select>
                </b-form-group>

                <b-form-group
                  class="pb-2 filters-subcategory-label"
                  label="Filter by lifecycle stage"
                  label-for="dmrbLifecyclesDropdown"
                >
                  <b-form-checkbox-group
                    id="dmrbLifecyclesDropdown"
                    v-model="selectedLifecycles"
                    :options="lifecycles"
                    stacked
                    value-field="key"
                    @change="onSelect"
                  >
                  </b-form-checkbox-group>
                </b-form-group>

                <b-form-group
                  v-if="pre2020Search"
                  class="pb-2 filters-subcategory-label"
                  label="Filter by volume"
                  label-for="volumeDropdown"
                >
                  <b-form-select
                    id="volumeDropdown"
                    v-model="selectedDmrbVolume"
                    :options="dmrbVolumes"
                    @change="onSelect"
                  ></b-form-select>
                </b-form-group>

                <b-form-group
                  v-if="pre2020Search"
                  class="pb-2 filters-subcategory-label"
                  label="Filter by section"
                  label-for="dmrbSectionDropdown"
                >
                  <b-form-select
                    id="dmrbSectionDropdown"
                    v-model="selectedDmrbSection"
                    :options="dmrbSections"
                    @change="onSelect"
                  ></b-form-select>
                </b-form-group>
              </b-collapse>
            </fieldset>
          </div>

          <!-- collapsible MCHW filters -->
          <div v-if="selectedSuiteOption.includes('MCHW')">
            <fieldset>
              <hr />
              <div v-b-toggle.mchw-filters class="collapsible-filter-group">
                <legend>
                  <span role="button" class="filters-label">MCHW Filters</span>
                </legend>
                <b-icon class="chevron" :icon="mchwFiltersCollapseState" />
              </div>

              <b-collapse
                id="mchw-filters"
                @hide="toggleMchwFilters"
                @show="toggleMchwFilters"
              >
                <b-form-group
                  class="pb-2 filters-subcategory-label"
                  label="Filter by volume"
                  label-for="mchwVolumeDropdown"
                >
                  <b-form-select
                    id="mchwVolumeDropdown"
                    v-model="selectedMchwVolume"
                    :options="mchwVolumes"
                    @change="onSelect($event, true)"
                  >
                  </b-form-select>
                </b-form-group>

                <b-form-group
                  v-if="mchwSectionOptions.length > 0"
                  class="pb-2 filters-subcategory-label"
                  label="Filter by section"
                  label-for="mchwSectionDropdown"
                >
                  <b-form-select
                    id="mchwSectionDropdown"
                    v-model="selectedMchwSection"
                    :options="mchwSectionOptions"
                    @change="onSelect"
                  >
                  </b-form-select>
                </b-form-group>
              </b-collapse>
            </fieldset>
          </div>
        </b-form>
      </div>
    </b-collapse>
  </div>
</template>

<script>
/**
DMRB:
  Current: Disciplines x Lifecycle stages
  Pre - 2020: Volumes, Sections (0, 1, 2, 3, 4, 5, 6)

MCHW:
  Current & past: Volumes, Sections

IANs:
  Current: Disciplines x Lifecycle stages
  Pre - 2020: Volumes, Sections
*/

import lifecycles from '~/config/lifecycles'
import disciplines from '~/config/disciplines'
import dmrbVolumes from '~/config/dmrbVolumes'
import dmrbSections from '~/config/dmrbSections'
import mchwVolumes from '~/config/mchwVolumes'
import mchwSections from '~/config/mchwSections'
import suiteOptions from '~/config/suites'
import { OUTPUT_DATE_FORMAT, INPUT_DATE_FORMAT } from '~/config/site'
import { SEARCH_PATH } from '~/config/paths'
import breakpointMixin from '~/mixins/currentBootstrapBreakpoint'

const dateToday = new Date()

const filterDefaults = {
  selectedDiscipline: null,
  selectedLifecycles: [],
  selectedSuiteOption: [],
  selectedDmrbVolume: null,
  selectedDmrbSection: null,
  selectedMchwVolume: null,
  selectedMchwSection: null,
  fromDate: dateToday,
  toDate: dateToday,
  filterByExactMatch: false,
}

export default {
  mixins: [breakpointMixin],
  props: {
    searchPath: {
      type: String,
      default: SEARCH_PATH,
    },
    isArchive: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      ...this.getInitialFilters(),

      disciplines: [
        {
          text: 'All disciplines',
          key: null,
        },
        ...disciplines,
      ],
      lifecycles,
      suiteOptions,
      dmrbVolumes: [
        {
          text: 'All volumes',
          value: null,
        },
        ...dmrbVolumes,
      ],
      dmrbSections: [
        {
          text: 'All sections',
          value: null,
        },
        ...dmrbSections,
      ],
      mchwVolumes: [
        {
          text: 'All volumes',
          value: null,
        },
        ...mchwVolumes,
      ],
      mchwSections,
      isOpenOnMobile: false,
      searchWasMade: false,
      hideCheckboxes: false,
      generalFiltersOpen: false,
      dmrbFiltersOpen: false,
      mchwFiltersOpen: false,
    }
  },
  computed: {
    pre2020Search() {
      if (!this.toDate) {
        return false
      }

      const toDateComparison = this.$dayjs(this.toDate, INPUT_DATE_FORMAT)
      const thresholdComparison = this.$dayjs('01/04/2020', INPUT_DATE_FORMAT)
      if (toDateComparison.diff(thresholdComparison) < 0) {
        return true
      }

      return false
    },
    mchwSectionOptions() {
      const options =
        this.mchwSections.find(
          (optionSet) => optionSet.volume === parseInt(this.selectedMchwVolume)
        )?.sections || []

      if (options.length > 0) {
        return [
          {
            text: 'All sections',
            value: null,
          },
          ...options,
        ]
      }

      return []
    },
    isOpen() {
      return (
        ['md', 'lg', 'xl'].includes(this.currentBreakpoint) ||
        this.isOpenOnMobile
      )
    },
    filterButtonLabel() {
      return this.isOpen ? 'Hide filters' : `Show filters`
    },
    filterCount() {
      let count = 0

      const conditions = [
        this.selectedDiscipline !== null,
        ...this.selectedLifecycles,
        this.filterByExactMatch !== false,
        this.selectedDmrbVolume !== null,
        this.selectedMchwVolume !== null,
        this.selectedMchwSection !== null,
        this.selectedDmrbSection !== null,
      ]

      conditions.forEach((condition) => {
        if (condition) {
          count++
        }
      })

      const comparisonDate = this.$dayjs(new Date()).format(INPUT_DATE_FORMAT)

      if (this.toDate !== comparisonDate) {
        count++
      }

      if (this.fromDate !== comparisonDate) {
        count++
      }

      if (this.selectedSuiteOption) {
        count = count + this.selectedSuiteOption?.length
      }
      
      return count
    },
    buttonIcon() {
      return !this.isOpen ? 'chevron-down' : 'chevron-up'
    },
    generalFiltersCollapseState() {
      return !this.generalFiltersOpen ? 'chevron-down' : 'chevron-up'
    },
    dmrbFiltersCollapseState() {
      return !this.dmrbFiltersOpen ? 'chevron-down' : 'chevron-up'
    },
    mchwFiltersCollapseState() {
      return !this.mchwFiltersOpen ? 'chevron-down' : 'chevron-up'
    },
  },
  watch: {
    '$route.query'() {
      const { selectedDiscipline, selectedLifecycles, selectedSuiteOption } =
        this.getInitialFilters()
      this.$data.selectedDiscipline = selectedDiscipline
      this.$data.selectedLifecycles = selectedLifecycles
      this.$data.selectedSuiteOption = selectedSuiteOption
      this.isOpenOnMobile = false
      this.searchWasMade = true
    },
  },
  methods: {
    toggleGeneralFilters() {
      this.generalFiltersOpen = !this.generalFiltersOpen
    },
    toggleDmrbFilters() {
      this.dmrbFiltersOpen = !this.dmrbFiltersOpen

      if (!this.dmrbFiltersOpen) {
        this.scrollToTopFilters()
      }
    },
    toggleMchwFilters() {
      this.mchwFiltersOpen = !this.mchwFiltersOpen

      if (!this.mchwFiltersOpen) {
        this.scrollToTopFilters()
      }
    },
    scrollToTopFilters() {
      this.$refs['filters-form'].scrollIntoView({ behavior: 'smooth' })
      this.$refs['general-filters-toggle'].focus()
    },
    getInitialFilters() {
      let fromDateFilter = null
      let toDateFilter = null

      // if either date is not provided default it to the other one
      // if neither are provided default values will be selected
      if (this.$route.query?.from) {
        fromDateFilter = this.parseQueryDate(
          this.$route.query.from,
          INPUT_DATE_FORMAT
        )

        if (!this.$route.query?.to) {
          toDateFilter = fromDateFilter
        }
      }

      if (this.$route.query?.to) {
        toDateFilter = this.parseQueryDate(
          this.$route.query.to,
          INPUT_DATE_FORMAT
        )

        if (!this.$route.query?.from) {
          fromDateFilter = toDateFilter
        }
      }

      return {
        selectedDiscipline: this.$route.query.discipline
          ? this.$route.query.discipline
          : filterDefaults.selectedDiscipline,
        selectedLifecycles: this.$route.query.lifecycle
          ? this.$route.query.lifecycle.split(',')
          : filterDefaults.selectedLifecycles,
        selectedDmrbVolume:
          this.$route.query.dmrbVolume || filterDefaults.selectedDmrbVolume,
        selectedDmrbSection:
          this.$route.query.dmrbSection || filterDefaults.selectedDmrbSection,
        selectedMchwVolume:
          this.$route.query.mchwVolume || filterDefaults.selectedMchwVolume,
        selectedMchwSection:
          this.$route.query.mchwSection || filterDefaults.selectedMchwSection,
        fromDate:
          fromDateFilter ||
          this.$dayjs(filterDefaults.fromDate).format(INPUT_DATE_FORMAT),
        toDate:
          toDateFilter ||
          this.$dayjs(filterDefaults.toDate).format(INPUT_DATE_FORMAT),
        filterByExactMatch:
          this.$route.query.matchType === 'EXACT' ||
          filterDefaults.filterByExactMatch,
        selectedSuiteOption: this.getInitialSuiteOption(),
      }
    },

    /**
     * In some cases it might be necessary to clear out filters dependent on their parents, e.g MCHW sections are based on volumes
     */
    onSelect(event, clearDependants = false) {
      const selectedSuites = this.parseSuiteSelection()

      if (
        !selectedSuites ||
        (!selectedSuites.includes('DMRB') && !selectedSuites.includes('IAN'))
      ) {
        this.selectedDmrbVolume = filterDefaults.selectedDmrbVolume
        this.selectedDmrbSection = filterDefaults.selectedDmrbSection
      }

      if (!selectedSuites || !selectedSuites.includes('MCHW')) {
        this.selectedMchwVolume = filterDefaults.selectedMchwVolume
        this.selectedMchwSection = filterDefaults.selectedMchwSection
      }

      if (clearDependants) {
        this.selectedDmrbSection = filterDefaults.selectedDmrbSection
        this.selectedMchwSection = filterDefaults.selectedMchwSection
      }

      // handle 'to' date set to before 'from' date
      const toDateComparison = this.$dayjs(this.toDate, INPUT_DATE_FORMAT)
      const fromDateComparison = this.$dayjs(this.fromDate, INPUT_DATE_FORMAT)
      if (toDateComparison.diff(fromDateComparison) < 0) {
        this.fromDate = this.toDate
      } 

      this.$router.push({
        path: this.searchPath,
        query: {
          ...this.$route.query,
          discipline: this.selectedDiscipline,
          lifecycle: this.selectedLifecycles.join(','),
          dmrbVolume: this.dmrbSelectedVolume,
          dmrbSection: this.selectedDmrbSection,
          mchwVolume: this.selectedMchwVolume,
          mchwSection: this.selectedMchwSection,
          to: this.parseInputDate(this.toDate),
          from: this.parseInputDate(this.fromDate),
          pageNumber: 1,
          matchType: this.filterByExactMatch ? 'EXACT' : undefined,
          suite: selectedSuites,
        },
      })
    },

    getInitialSuiteOption() {
      const suite = this.$route.query?.suite

      if (!suite || suite === 'all') {
        return []
      }

      return Array.isArray(suite) ? suite : [suite]
    },

    parseSuiteSelection() {
      if (
        !this.selectedSuiteOption ||
        this.selectedSuiteOption.includes('all') ||
        this.selectedSuiteOption.length === 0
      ) {
        return null
      }

      return this.selectedSuiteOption
    },

    parseQueryDate(dateString) {
      if (!dateString) return null
      const parsedDate = this.$dayjs(dateString, OUTPUT_DATE_FORMAT)
      return parsedDate.format(INPUT_DATE_FORMAT)
    },

    parseInputDate(dateString) {
      const parsedDate = this.$dayjs(dateString, INPUT_DATE_FORMAT)

      return parsedDate.isValid() ? parsedDate.format(OUTPUT_DATE_FORMAT) : ''
    },

    handleCollapseToggle() {
      this.isOpenOnMobile = !this.isOpenOnMobile
    },

    handleFiltersClosed() {
      if (this.searchWasMade) {
        this.$emit('hidden')
        this.searchWasMade = false
      }
    },

    clearFilters() {
      this.selectedDiscipline = filterDefaults.selectedDiscipline
      this.selectedLifecycles = filterDefaults.selectedLifecycles
      this.selectedSuiteOption = filterDefaults.selectedSuiteOption
      this.selectedDmrbVolume = filterDefaults.selectedDmrbVolume
      this.fromDate = this.$dayjs(filterDefaults.fromDate).format(
        INPUT_DATE_FORMAT
      )
      this.toDate = this.$dayjs(filterDefaults.toDate).format(INPUT_DATE_FORMAT)
      this.filterByExactMatch = filterDefaults.filterByExactMatch

      this.onSelect()
    },
  },
}
</script>

<style lang="scss" scoped>
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  flex: 1;
}

.filters-label {
  font-weight: 700;
  line-height: 1.5rem;
  font-size: 1.125rem;
}

.filters-subcategory-label {
  font-weight: 700;
  line-height: 1.5rem;
  font-size: 0.875rem;
}

.filters-collapse-button {
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;

  @media screen and (min-width: $breakpoint-md) {
    display: none;
  }
}

.filter-collpase-button-content {
  display: flex;
  align-items: center;
}

.filter-collpase-button-content {
  flex: 1;
}

.filters-header {
  display: flex;
  margin-top: 1rem;

  @media screen and (min-width: $breakpoint-md) {
    margin-top: 0;
  }

  &__mobile {
    @media screen and (min-width: $breakpoint-md) {
      display: none;
    }
  }
}

.filters-header .btn {
  min-width: 0;
  padding: 0;
  font-size: 0.875rem;
}

.filters-container {
  .suite-options::v-deep .custom-checkbox {
    margin: 0.75rem 0;
  }
}

.collapsible-filter-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .chevron {
    font-size: 1rem;
    stroke-width: 1px;
    stroke: #000;
  }
}

// Fix needed until the datepicker is replaced,
// otherwise it will be displayed below the exact search checkbox
.exact-search::v-deep .custom-control {
  z-index: 0;
}
</style>
