<template>
  <Card :type="{ divided: true }">
    <article :class="className">
      <header class="search-card-header" :class="!compact && 'search-card-header-expanded'">
        <h3
          :id="'search-result-card__title-' + documentNodeId"
          :class="[
            'search-card-title',
            !compact && 'search-card-header-expanded',
            compact && 'search-card-header-text-truncate',
          ]"
        >
          <span v-if="suite" class="search-card-suite">{{ suite }} • </span>
          <nuxt-link v-if="documentPageUrl" :to="documentPageUrl">
            {{ title }}
          </nuxt-link>
          <span v-else>{{ title }}</span>
        </h3>
        <span class="search-card-header-col-r">
          <A11yButton
            v-if="variant === 'compact'"
            aria-label="View this document"
            variant="link"
            class="search-card-open-doc"
            :href="documentLink"
          >
            <img :src="linkIcon" />
          </A11yButton>
          <client-only>
            <A11yButton
              v-if="signedIn"
              aria-label="Save this document"
              :aria-describedby="'search-result-card__title-' + documentNodeId"
              :aria-pressed="saveSync ? 'true' : 'false'"
              variant="link"
              class="search-card-save-doc"
              @click.prevent="throttle(onSaveDocument)"
            >
              <img :src="saveSync ? saveIconFilled : saveIcon" />
            </A11yButton>
          </client-only>
          <p v-if="isWithdrawn" class="search-card-withdrawn">Withdrawn</p>
        </span>
      </header>

      <div v-if="variant === 'expanded'" class="search-card-body">
        <div v-if="notes && variant == 'expanded'">
          <p class="search-card-notes">
            {{ notes }}
          </p>
        </div>

        <div v-if="hasDisciplineOrLifecycleStage && variant == 'expanded'">
          <p v-if="discipline">{{ discipline }}</p>
          <p v-if="lifecycleStage">{{ lifecycleStage }}</p>
        </div>
      </div>

      <div v-if="hasFormerlyOrSupersededBy" class="search-card-superseded">
        <p v-if="supersededBy.length">
          <span>Superseded by: </span>
          <template v-for="(doc, index) in supersededBy">
            <span :key="doc.documentLink">
              <a :href="doc.documentLink">{{ doc.title }}</a
              ><span v-if="index < supersededBy.length - 1">, </span>
            </span>
          </template>
        </p>

        <p v-if="formerly.length">
          <span>Formerly: </span>
          <template v-for="(doc, index) in formerly">
            <span :key="doc.documentLink">
              <a :href="doc.documentLink">{{ doc.title }}</a
              ><span v-if="index < formerly.length - 1">, </span>
            </span>
          </template>
        </p>
      </div>

      <footer v-if="variant !== 'compact'" class="search-card-footer">
        <div class="search-card-revision">
          <p v-if="revision"><b>Revision:</b> {{ revision }}</p>
          <p v-if="issued"><b>Issued:</b> {{ issued }}</p>
          <p v-if="isWithdrawn && withdrawn"><b>Withdrawn:</b> {{ withdrawn }}</p>
          <p v-if="matchType">
            <b>Match:</b>
            {{ matchTypeLabel }}
          </p>
        </div>

        <div class="search-card-desktop-links">
          <div v-if="inlineDocumentLink && !hasHtml" class="search-card-link">
            <a
              :rel="isWithdrawn ? 'nofollow' : ''"
              :href="inlineDocumentLink"
              :title="`Open PDF for ${title}.`"
              @click="onOpenPDF"
              target="_blank"
            >
              <span>Open</span>
              <span class="sr-only">Opens PDF</span>
            </a>
          </div>

          <div v-if="hasHtml" class="search-card-link">
            <a
              :href="`/search/html/${documentNodeId}?=standard=${suite}`"
              :rel="isWithdrawn ? 'nofollow' : ''"
              :title="`Open the HTML document for ${title}.`"
              @click="onOpenHTML"
            >
              <span>Open</span>
              <span class="sr-only">Opens an HTML version of the document</span>
            </a>
          </div>

          <div
            class="search-card-link"
            :class="!compact && 'search-card-header-expanded'"
          >
            <a
              :rel="isWithdrawn ? 'nofollow' : ''"
              :href="documentLink"
              :title="`Open document for ${title}.`"
              @click="onDownload"
            >
              <span>{{ downloadText }}</span>
              <span class="sr-only">Downloads document</span>
            </a>
          </div>
        </div>
      </footer>
    </article>
  </Card>
</template>

<script>
import capitalize from 'lodash.capitalize'
import { logRecentDownload } from '../helpers/recentDownloads'
import saveIcon from '~/assets/icons/save-icon.svg'
import linkIcon from '~/assets/icons/link-icon.svg'
import saveIconFilled from '~/assets/icons/save-icon-filled.svg'

const isDocumentWithLink = (val) => {
  return !!val.title && !!val.documentLink
}

let clearId = null

export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    suite: {
      type: String,
      default: null,
    },
    inlineDocumentLink: {
      type: String,
      default: null,
    },
    documentLink: {
      type: String,
      default: undefined,
    },
    hasHtml: {
      type: Boolean,
      default: false,
    },
    notes: {
      type: String,
      default: '',
    },
    discipline: {
      type: String,
      default: '',
    },
    lifecycleStage: {
      type: String,
      default: '',
    },
    revision: {
      type: String,
      default: '',
    },
    from: {
      type: String,
      default: '',
    },
    issued: {
      type: String,
      default: '',
    },
    withdrawn: {
      type: String,
      default: '',
    },
    matchType: {
      type: String,
      default: '',
    },
    isWithdrawn: {
      type: Boolean,
      default: false,
    },
    documentPageUrl: {
      type: String,
      default: '',
    },
    attachmentUrl: {
      type: String,
      default: null,
    },
    supersededBy: {
      type: Array,
      default: () => [],
      validator: (arr) => arr.every(isDocumentWithLink),
    },
    formerly: {
      type: Array,
      default: () => [],
      validator: (arr) => arr.every(isDocumentWithLink),
    },
    documentNodeId: {
      type: String,
      default: '',
    },
    variant: { type: String, default: 'expanded' },
    saved: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      openPdfText: 'Open PDF',
      openHtmlText: 'Open HTML',
      downloadText: 'Download',
      saveIcon,
      saveIconFilled,
      linkIcon,
      saveSyncVal: null,
      block: false,
    }
  },
  computed: {
    signedIn() {
      return this.$store.getters.signedIn
    },
    compact() {
      return this.variant === 'compact'
    },
    saveSync() {
      return this.saveSyncVal === null ? this.saved : this.saveSyncVal
    },
    hasDisciplineOrLifecycleStage() {
      return !!this.discipline || !!this.lifecycleStage
    },
    hasFormerlyOrSupersededBy() {
      return !!this.supersededBy.length || !!this.formerly.length
    },
    matchTypeLabel() {
      return capitalize(this.matchType)
    },
    className() {
      return `search-card type-${this.variant}`
    },
  },
  watch: {
    saved() {
      this.saveSyncVal = null
    },
  },
  methods: {
    onOpenPDF() {
      const { name } = this.$router.app.$route
      this.$store.dispatch('searchResultsCardOnOpenPDF', {
        name,
        documentNodeId: this.documentNodeId,
        clickText: this.openPdfText,
      })
    },
    onOpenHTML() {
      const { name } = this.$router.app.$route
      this.$store.dispatch('searchResultsCardOnOpenHTML', {
        name,
        documentNodeId: this.documentNodeId,
        clickText: this.openHtmlText,
      })
    },
    onDownload() {
      const { name } = this.$router.app.$route
      this.$store.dispatch('searchResultsCardOnDownload', {
        name,
        documentNodeId: this.documentNodeId,
        clickText: this.downloadText,
      })
    },
    throttle(fn) {
      if (this.block) return
      this.block = true

      fn()

      setTimeout(() => {
        this.block = false
      }, 200)
    },
    onSaveDocument() {
      if (this.saveSyncVal === null) {
        this.saveSyncVal = !this.saved
      } else {
        this.saveSyncVal = this.saved
      }

      this.$store.dispatch('onSearchResultCardSaveDocument', {
        saved: this.saveSyncVal,
        documentNodeId: this.documentNodeId,
        title: this.title,
      })

      clearTimeout(clearId)

      clearId = setTimeout(() => {
        this.saveSyncVal = null
      }, 2000)
    },
    handleLinkClick(url, title, nodeId) {
      logRecentDownload(url, title, nodeId)
    },
  },
}
</script>

<style lang="scss" scoped>
article {
  margin: 1rem 0;
  @media screen and (min-width: $breakpoint-md) {
    margin: unset;
  }
}

.search-card {
  font-size: 0.75rem;

  @media screen and (min-width: $breakpoint-md) {
    display: flex;
    flex-direction: column;
  }
}

.search-card p {
  margin: 0;
}

p.search-card-withdrawn {
  font-weight: 800;
  text-transform: uppercase;
  color: $card-withdrawn-label-color;
  text-align: right;
  margin-top: 0.5rem;
}

.search-card-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0;
  padding-right: 24px;
  flex: 1;
  padding-top: 0.3rem;
  &.search-card-header-expanded {
    padding-top: 0;
  }
}

.search-card-body {
  margin-top: 0.5rem;
}

p.search-card-notes {
  font-size: 0.875rem;
  margin: 0.5rem 0;
  color: $body-color;
}

.search-card-superseded {
  margin: 1rem 0 0.5rem;
}

.search-card-revision {
  @media screen and (min-width: $breakpoint-md) {
    padding-left: 48px;
    flex: 1;
    text-align: right;
    margin-bottom: 0;

    p {
      display: inline-block;
      margin: 0;
      margin-left: 24px;
    }
  }
}

.type-expanded .search-card-revision {
  margin: 0.5rem 0 1rem;
}

.search-card-desktop-links {
  display: flex;
}

.search-card-link {
  font-size: 1rem;
}
.type-expanded .search-card-link {
  margin: 1rem 2rem 0 0;
}

.search-card-header {
  &.search-card-header-expanded {
    display: flex;
    align-items: start;
    .search-card-header-col-r {
      margin-top: 0;
    }
  }
  h3 {
    margin-bottom: 1rem;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: unset;
      display: unset;
    }
  }
  @media screen and (min-width: $breakpoint-md) {
    display: flex;
  }
}

.search-card-footer {
  @media screen and (min-width: $breakpoint-md) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
  }
}

.search-card-header-col-r {
  display: flex;
  justify-items: end;
  margin-top: 2rem;
  @media screen and (min-width: $breakpoint-md) {
    margin-top: unset;
  }
}

.search-card-open-doc {
  text-align: end;
  padding: 0;
  min-width: unset;
}

.search-card-save-doc {
  margin-left: 1.5rem;
  text-align: end;
  padding: 0;
  min-width: unset;
}

.search-card-suite {
  color: $body-color;
}

.search-card-header-text-truncate {
  @media screen and (min-width: $breakpoint-md) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
</style>
