<template>
  <div>
    <Breadcrumbs
      :title-override="document.DOCUMENT_REFERENCE || document.TITLE"
    />
    <b-container>
      <b-row>
        <b-col>
          <Page class="mb-0">
            <div>
              <header class="document-heading">
                <span class="suite">
                  <span> {{ document.SUITE }} </span>
                  <span v-if="isArchive || document.isWithdrawn">
                    <span v-if="isArchive">ARCHIVE</span>
                    <strong v-if="document.isWithdrawn">| WITHDRAWN</strong>
                  </span>
                </span>

                <PageHeading ref="focusTarget">{{ documentTitle }}</PageHeading>
                <Alert v-if="document.isWithdrawn" show variant="danger"
                  >This version of the document has been withdrawn. Please
                  <a
                    href="#"
                    @click.stop.prevent="
                      handleScrollToClick('relatedDocuments')
                    "
                    >click here</a
                  >
                  to view any newer versions and/or other related documents.
                </Alert>
                <Divider variant="thick" />
              </header>

              <section class="details">
                <dl class="details-list">
                  <div
                    v-if="
                      document.disciplineFormatted ||
                      document.lifecycleStageFormatted
                    "
                    class="details-left"
                  >
                    <div class="details-group">
                      <dt class="sr-only">Discipline</dt>
                      <dd>{{ document.disciplineFormatted }}</dd>
                    </div>
                    <div class="details-group">
                      <dt class="sr-only">Lifecycle Stage</dt>
                      <dd>{{ document.lifecycleStageFormatted }}</dd>
                    </div>
                  </div>
                  <div class="details-right">
                    <div class="details-group">
                      <dt>Issued:</dt>
                      <dd>
                        <time>
                          {{ document.issueDateFormatted }}
                        </time>
                      </dd>
                    </div>
                    <div v-if="document.REVISION" class="details-group">
                      <dt>Revision:</dt>
                      <dd>{{ document.REVISION }}</dd>
                    </div>
                    <div v-if="document.isWithdrawn" class="details-group">
                      <dt>Withdrawn:</dt>
                      <dd>
                        <time>
                          {{ document.withdrawnDateFormatted }}
                        </time>
                      </dd>
                    </div>
                  </div>
                </dl>
              </section>

              <section v-if="document.attachmentUrl" class="download">
                <div class="download-content">
                  <p>View and download the document:</p>

                  <Button
                    v-if="!document.hasHtml"
                    :rel="document.isWithdrawn ? 'nofollow' : ''"
                    :href="`${document.attachmentUrl}?inline=true`"
                    :title="`Open PDF for ${documentTitle}`"
                    target="_blank"
                    @click="onOpenPDF"
                  >
                    Open
                  </Button>

                  <Button
                    v-if="document.hasHtml"
                    :rel="document.isWithdrawn ? 'nofollow' : ''"
                    :href="document.attachmentUrl"
                    :title="`Open HTML for ${documentTitle}`"
                    @click="onOpenHTML"
                  >
                    Open
                  </Button>

                  <Button
                    :rel="document.isWithdrawn ? 'nofollow' : ''"
                    :href="document.attachmentUrl"
                    :title="`Open PDF for ${documentTitle}`"
                    target="_blank"
                    @click="onDownloadPDF"
                  >
                    Download PDF
                  </Button>
                </div>
              </section>
            </div>
          </Page>

          <p
            v-if="
              !document.hasHtml &&
              !htmlAlreadyRequested &&
              htmlAlreadyRequested !== null
            "
            class="html-doc-detail"
          >
            This document is not currently available to view in HTML format.
            <a href="#" @click.prevent="requestHtmlDoc">
              Request an HTML version of the document
            </a>
          </p>

          <p
            v-if="!document.hasHtml && htmlAlreadyRequested"
            class="html-doc-detail"
          >
            Your request for an HTML version of
            {{ document.DOCUMENT_REFERENCE }} has been recorded.
          </p>

          <p v-if="document.hasHtml" class="html-doc-detail">
            This document is also available to view online in PDF format.
            <a
              :href="`${document.attachmentUrl}?inline=true`"
              :title="`Open PDF for ${documentTitle}`"
              target="_blank"
              @click="onOpenPDF"
            >
              Click here to open.
            </a>
          </p>

          <hr class="border-dark mb-5" />

          <template v-if="document.DOCUMENT_REFERENCE">
            <RelatedDocuments
              ref="relatedDocuments"
              :parent-document-node-id="document.NODE_ID"
              :parent-document-reference="document.DOCUMENT_REFERENCE"
            />
            <hr class="border-dark mb-5 mt-4" />
          </template>
        </b-col>
      </b-row>
      <b-row>
        <b-col v-if="pageDataCheck" md="8">
          <!-- eslint-disable-next-line vue/no-v-html -->
          <span v-html="pageData.document_contact_field"></span>
          <!-- eslint-disable-next-line vue/no-v-html -->
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { pick } from 'ramda'

import { HTML_DOC_PATH } from '~/config/paths'
import DOCUMENT_COLUMNS from '~/config/documentColumns'

import { logRecentDownload } from '~/helpers/recentDownloads'
import focusHeadingOnMountMixin from '~/mixins/aria-focus-heading'
import { processDocumentData } from '~/helpers/formatting.js'

export default {
  mixins: [focusHeadingOnMountMixin],
  layout: 'no-boilerplate',
  props: {
    isArchive: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      openHTMLText: 'Open HTML',
      downloadPDFText: 'Download PDF',
      openPDFText: 'Open PDF',
      htmlAlreadyRequested: null,
      document: DOCUMENT_COLUMNS.split(',').reduce(
        (obj, col) => ({ ...obj, [col]: null }),
        {}
      ),
      pageData: {
        document_contact_field: null,
        notices: null,
      },
    }
  },
  head() {
    const head = {}
    head.title = [this.document.DOCUMENT_REFERENCE, this.document.TITLE]
      .filter(Boolean)
      .join(' - ')

    if (this.document.isWithdrawn) {
      head.meta = [{ hid: 'robots', name: 'robots', content: 'noindex' }]
    }
    return head
  },
  computed: {
    documentTitle() {
      return [this.document.DOCUMENT_REFERENCE, this.document.TITLE]
        .filter(Boolean)
        .join(' - ')
    },
    pageDataCheck() {
      return true
      // return this.pageData.document_contact_field.length > 0
    },
  },
  async beforeMount() {
    const [data, pageData] = await Promise.all([
      this.$tses
        .get(`documents/${this.$route.params.nodeId}`, {
          params: { columns: DOCUMENT_COLUMNS },
        })
        .then((response) => processDocumentData(response.data))
        .catch((err) => {
          // eslint-disable-next-line no-console
          console.log('Error when trying to fetch from API', {
            url: err.config.url,
            httpCode: err.response.status,
          })

          this.error({
            statusCode: 404,
            message: 'Document not found',
          })
        }),
      this.$cms
        .get('dmrb-document-pages')
        .then((res) => pick(['document_contact_field', 'notices'], res.data)),
    ])

    this.$data.document = data.document
    this.$data.pageData = pageData

    this.$store.dispatch('searchNodeIdBeforeMount', { document: data.document })

    if (!this.$cookies.get('htmlRequested')) {
      this.$data.htmlAlreadyRequested = false
    } else {
      this.$data.htmlAlreadyRequested =
        !!this.$cookies.get('htmlRequested').includes(data.document.DOCUMENT_REFERENCE)
    }
  },
  methods: {
    onOpenHTML() {
      logRecentDownload(this.attachmentUrl, this.documentTitle, this.document.NODE_ID)
      const { name } = this.$router.app.$route
      this.$store.dispatch('searchNodeIdOnOpenHtml', {
        name,
        clickText: this.openHTMLText,
        document: this.document,
      })
    },
    onDownloadPDF() {
      logRecentDownload(this.attachmentUrl, this.documentTitle, this.document.NODE_ID)
      const { name } = this.$router.app.$route
      this.$store.dispatch('searchNodeIdOnDownloadPdf', {
        name,
        clickText: this.downloadPDFText,
        document: this.document,
      })
    },
    onOpenPDF() {
      logRecentDownload(this.attachmentUrl, this.documentTitle, this.document.NODE_ID)
      const { name } = this.$router.app.$route
      this.$store.dispatch('searchNodeIdOnOpenPdf', {
        name,
        clickText: this.openPDFText,
        document: this.document,
      })
    },
    requestHtmlDoc() {
      this.$cms
        .post('/html-document-requests', {
          data: {
            title: this.document.TITLE,
            reference: this.document.DOCUMENT_REFERENCE,
            node_id: this.document.NODE_ID,
          },
        })
        .then(({ data }) => {
          let documentRequestCookies = this.$cookies.get('htmlRequested')

          if (Array.isArray(documentRequestCookies)) {
            documentRequestCookies.push(this.document.DOCUMENT_REFERENCE)
          } else {
            documentRequestCookies = [this.document.DOCUMENT_REFERENCE]
          }

          this.$cookies.set('htmlRequested', JSON.stringify(documentRequestCookies))
          this.htmlAlreadyRequested = true
        })
    },
    handleHtmlClick(nodeId) {
      this.$router.push({
        path: `${HTML_DOC_PATH}/${this.$route.params.nodeId}`,
        query: {
          standard: this.document.SUITE,
        },
      })
    },
    handleScrollToClick(refName) {
      const element = this.$refs[refName]
      const top = element.$el.offsetTop

      window.scrollTo(0, top)
    },
  },
}
</script>

<style lang="scss" scoped>
.suite {
  font-size: 1.125rem;
}

.document-heading {
  margin-bottom: 2.5rem;
}

.html-doc-detail {
  margin-top: 1rem;
  margin-bottom: 3.75rem;
  font-size: 1rem;
}

.details-list {
  @media screen and (min-width: $breakpoint-md) {
    display: flex;
  }
}

.details-left {
  flex: 0 1 290px;
  margin-right: 20px;
}

.details-group {
  display: flex;
  margin: 0 0 1rem 0;

  dt {
    font-weight: normal;
    margin-right: 0.25em;
  }

  dd {
    margin: 0;
  }
}
</style>
