<template>
  <Page>
    <header>
      <PageHeadingLabel>Search</PageHeadingLabel>

      <PageHeading id="focusTarget" ref="focusTarget">{{
        page_title
      }}</PageHeading>
    </header>

    <aside slot="left-col">
      <SkipLink target-hash="#results">Skip to results</SkipLink>

      <SearchViewOptions
        class="mb-1 pb-1"
        :value="viewStyle"
        aria-describedby="Toggle between expanded and compact list styles"
        @input="handleViewChange"
      />

      <SearchFilters
        :search-path="searchPath"
        :is-archive="isArchive"
        @hidden="scrollResultsIntoView"
      >
        <template #search-input>
          <PageSearchBox
            id="page-search"
            ref="pageSearchBox"
            :search-path="searchPath"
            class="pt-3 mb-5"
            :search-label="search_label"
            :search-aria-label="
              isArchive
                ? 'Search the DMRB archive, secondary'
                : 'Search the DMRB, primary'
            "
            :search-example="search_example"
            @submit="onSubmit"
          />
        </template>
      </SearchFilters>

      <SidebarSnippet
        v-for="snippet in sidebar_panel_snippets"
        :key="snippet.id"
        class="d-none d-md-block"
        :content="snippet.content"
      />
    </aside>

    <div id="results" slot="right-col" ref="results" tabindex="-1">
      <div v-if="isLoading" class="loader">
        <div class="spinner-border m-5" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div v-else>
        <SearchResults
          :results="searchResults"
          :page-index="pageNumber"
          :page-size="pageSize"
          :is-archive="isArchive"
          :variant="viewStyle"
          @page-change="handlePageChange"
        />
        <BackToTop :scroll-depth="500" target-hash="#focusTarget" />
        <TSOShopAdvert class="d-block d-md-none" />
      </div>
    </div>
  </Page>
</template>

<script>
import { pick } from 'ramda'

import { ARCHIVE_SEARCH_PATH, SEARCH_PATH } from '~/config/paths'
import { IAN, DMRB, MCHW } from '~/config/suites'

import { setListViewStyle, getListViewStyle } from '~/helpers/userSettings'

import breakpointMixin from '~/mixins/currentBootstrapBreakpoint'
import focusHeadingOnMountMixin from '~/mixins/aria-focus-heading'

import {
  buildQuery,
  prepareSearchResults,
  prepareDateForApi,
  resultColumns,
} from '~/lib/caci_api_helpers.js'

export default {
  mixins: [breakpointMixin, focusHeadingOnMountMixin],

  layout: 'two-column',

  props: {
    isArchive: {
      type: Boolean,
      default: false,
    },
  },
  async asyncData({ $cms }) {
    const cmsData = await $cms
      .get('dmrb-search-results')
      .then((res) =>
        pick(
          [
            'page_title',
            'sidebar_panel_snippets',
            'search_label',
            'search_example',
          ],
          res.data
        )
      )
    return {
      ...cmsData,
    }
  },

  data() {
    return {
      isLoading: true,
      pageSize: 30,
      viewStyle: getListViewStyle() || 'expanded',
    }
  },
  head() {
    return {
      title: `Search Results${this.pageTitleStandardChunk}`,
    }
  },

  computed: {
    searchResults() {
      return this.$store.getters.searchResults
    },
    pageTitle() {
      return this.isArchive ? 'DMRB Archive' : 'Find a document'
    },
    pageTitleStandardChunk() {
      const routeQuery = this.$route.query

      if (!routeQuery.suite || routeQuery.suite === 'all') {
        return ''
      }

      return ` - ${routeQuery.suite}`
    },
    searchPath() {
      return this.isArchive ? ARCHIVE_SEARCH_PATH : SEARCH_PATH
    },
    pageNumber() {
      return Number(this.$route.query.pageNumber) || 1
    },
  },

  watch: {
    '$route.query'() {
      this.doSearch()
    },
  },
  mounted() {
    this.doSearch()
  },

  methods: {
    onSubmit() {
      const { pageSearchBox } = this.$refs
      const { name } = this.$router.app.$route
      this.$store.dispatch('searchIndexOnSubmitSearch', {
        name,
        ref: pageSearchBox,
      })
    },
    convertSuiteQuery() {
      const suite = this.$route.query?.suite
      
      // no query provided or 'all' selected -> 
      // this list needs to be expanded when new standards are added
      if (!suite || suite === 'all') {
        return [IAN, DMRB, MCHW]
      }

      if (Array.isArray(suite)) {
        return suite
      }

      return [suite]
    },
    doSearch() {
      const routeQuery = this.$route.query

      const suites = this.convertSuiteQuery()

      // prepare dates
      let validFromDate = null
      let validToDate = null

      if (routeQuery?.from || routeQuery?.to) {
        if (routeQuery?.from) {
          validFromDate = prepareDateForApi(routeQuery.from)
        }

        if (routeQuery?.to) {
          validToDate = prepareDateForApi(routeQuery.to)
        }
      }
      
      this.isLoading = true
      this.$tses
        .get('search', {
          params: {
            query: buildQuery({
              suites,
              searchTerm: routeQuery.q,
              discipline: routeQuery.discipline,
              lifecycles: routeQuery.lifecycle,
              dmrbVolume: routeQuery.dmrbVolume,
              mchwVolume: routeQuery.mchwVolume,
              dmrbSection: routeQuery.dmrbSection,
              mchwSection: routeQuery.mchwSection,
              section: routeQuery.section,
            }),
            columns: resultColumns.join(','),
            matchType: routeQuery.matchType === 'EXACT' ? 'EXACT' : 'ALL',
            sortColumn: 'DOCUMENT_REFERENCE',
            sortDirection: 'ASC',
            validTo: validToDate,
            validFrom: validFromDate,
            pageIndex: this.pageNumber - 1, // 0 based index
            pageSize: this.pageSize,
          },
        })
        .then(
          (response) => {
            this.$store.commit('searchResults', {
              searchResults: prepareSearchResults(
                response.data,
                this.isArchive
              ),
            })
          },
          (response) => {
            // error callback
          }
        )
        .catch(
          this.$store.commit('searchResults', {
            searchResults: { page: [], total: 0 },
          })
        )
        .finally(() => {
          this.isLoading = false
          this.scrollResultsIntoView()
        })
    },

    handlePageChange(pageNumber) {
      this.$router.push({
        path: this.searchPath,
        query: {
          ...this.$route.query,
          pageNumber,
        },
      })
    },

    handleViewChange(value) {
      this.viewStyle = value
      setListViewStyle(value)
    },

    scrollResultsIntoView() {
      if (['xs', 'sm'].includes(this.currentBreakpoint)) {
        this.$refs.results.scrollIntoView({ behavior: 'smooth' })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.loader {
  text-align: center;
}
</style>
