<template>
  <div>
    <Header />
    <Breadcrumbs />



    <b-container>
      <b-row>
        <b-col>
          <nuxt class="page-primary" />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Header from '../components/Header'
import Breadcrumbs from '../components/Breadcrumbs'

export default {
  components: {
    Header,
    Breadcrumbs,
  },
}
</script>
<style lang="scss" scoped>
.page-primary {
  margin-bottom: 1.5rem;
  margin-top: 5rem;
}
</style>
