<template>
  <div>
    <PageHeadingUnderlined
      label="your standards for highways"
      title="Create an account"
    >
      <p>Create an account to save the documents that matter to you, so that you can easily return to them later.</p>
    </PageHeadingUnderlined>

    <b-form
      role="create-account"
      aria-label="Create an account"
    >
      <b-row>
        <b-col id="form-input-error" cols="12" md="4">
          <b-alert
            variant="danger"
            :show="formInvalid"
            class="mb-4.5"
          >
            {{ formInvalidMessage }}
          </b-alert>
        </b-col>
      </b-row>

      <b-row class="mb-4">
        <b-col cols="12" md="5" class="form-group">
          <label for="first-name-input">
            First name
          </label>

          <b-form-input
            id="first-name-input"
            ref="firstName"
            v-model="form.firstName"
            placeholder="Enter your first name"
            :state="firstNameState"
          ></b-form-input>

          <b-form-invalid-feedback :state="firstNameState">
            Please enter your first name
          </b-form-invalid-feedback>
        </b-col>
      </b-row>

      <b-row class="mb-4">
        <b-col cols="12" md="5" class="form-group">
          <label for="last-name-input">
            Last name
          </label>

          <b-form-input
            id="last-name-input"
            ref="lastNameInput"
            v-model="form.lastName"
            placeholder="Enter your last name"
            :state="lastNameState"
          ></b-form-input>

          <b-form-invalid-feedback :state="lastNameState">
            Please enter your last name
          </b-form-invalid-feedback>
        </b-col>
      </b-row>

      <b-row class="mb-4">
        <b-col cols="12" md="5" class="form-group">

          <label for="email-input">
            Email
          </label>

          <b-form-input
            id="email-input"
            ref="email"
            v-model="form.email"
            type="email"
            placeholder="enter your email"
            :state="emailState"
          ></b-form-input>

          <b-form-invalid-feedback :state="emailState">
            Enter in the format: name@example.com
          </b-form-invalid-feedback>
        </b-col>
      </b-row>

      <b-row class="mb-4">
        <b-col cols="12" md="5" class="form-group">
          <label for="password-input">Password</label>
          <div class="password-hint text-muted font-italic font-weight-lighter">
            Your password should have at least 8 characters, include at least 1 number and 1 capital letter
          </div>
          
          <b-form-input
            id="password-input"
            v-model="form.password"
            aria-describedby="password-hint"
            type="password"
            placeholder="Enter your password"
            :state="passwordState"
          ></b-form-input>

          <b-form-invalid-feedback :state="passwordState" aria-live="polite">
            Password does not meet the requirements
          </b-form-invalid-feedback>
        </b-col>
      </b-row>

      <b-row class="mb-4.5">
        <b-col cols="12" md="5" class="form-group">
          <label for="confirm-password-input">
            Confirm Password
          </label>

          <b-form-input
            id="confirm-password-input"
            v-model="form.confirmPassword"
            type="password"
            placeholder="Re-enter your password"
            :state="confirmPasswordStateSummary"
          ></b-form-input>

          <b-form-invalid-feedback :state="confirmPasswordStateSummary">
            <span v-if="!confirmPasswordState">The passwords you entered do not match <br></span>
            <span v-if="!confirmPasswordCriteriaState">Password does not meet the requirements</span>
          </b-form-invalid-feedback>
        </b-col>
      </b-row>

      <b-row class="mb-4.5">
        <b-col cols="12" sm="1">
          <b-overlay
            :show="loading"
            class="loading-icon-overlay"
            rounded
            opacity="0.6"
            spinner-small
            spinner-variant="primary"
          >
            <Button
              type="submit"
              class="w-100"
              @click.prevent="onSubmit"
            >Create account</Button>
          </b-overlay>
        </b-col>
      </b-row>
      <nuxt-link class="privacy-link text-muted" to="/privacy-policy">View our privacy policy</nuxt-link>
    </b-form>

  </div>
</template>

<script>
export default {
  layout: 'no-footer',
  data() {
    return {
      loading: false,
      submitted: false,
      formInvalidMessage: 'An error has occured. Please check below.',
      form: {
        firstName: '',
        lastName: '',
        email: '',
        password: '',
        confirmPassword: '',
      },
      passwordCriteriaCheck: /^(?=.*[A-Z])(?=.*[0-9])(?=.{8,})/
    }
  },
  head() {
    return {
      title: 'Create an account',
    }
  },
  computed: {
    firstNameState() {
      return !this.submitted ? null
      : (
        this.form.firstName.length > 2
      )
    },
    lastNameState() {
      return !this.submitted ? null
      : (
        this.form.lastName.length > 2
      )
    },
    emailState() {
      return !this.submitted ? null
      : (
        this.form.email.length > 3 && this.form.email.match(/@./g)?.length === 1
      )
    },
    passwordState() {
      return !this.submitted ? null
      : (
        !!this.passwordCriteriaCheck.test(this.form.password)
      )
    },
    confirmPasswordState() {
      return !this.submitted ? null
      : (
        (this.form.password === this.form.confirmPassword)
      )
    },
    confirmPasswordCriteriaState() {
      return !this.submitted ? null
        : (
          !!this.passwordCriteriaCheck.test(this.form.confirmPassword)
        )
    },
    confirmPasswordStateSummary() {
      return this.confirmPasswordState && this.confirmPasswordCriteriaState
    },
    formInvalid() {
      return !this.submitted ? null
      : (
        !this.firstNameState
        || !this.lastNameState
        || !this.emailState
        || !this.passwordState
        || !this.confirmPasswordStateSummary
      )
    }
  },
  methods: {
    async onSubmit() {
      this.$router.push({
        hash: ''
      })

      this.submitted = true
      if (this.formInvalid) {
        this.$store.dispatch('error', new Error(this.formInvalidMessage))
        this.$refs.firstName.focus({ preventScroll: true })
        this.$router.push({
          hash: '#form-input-error'
        })
        return
      }

      this.loading = true

      try {
        // TODO the user permissions plugin in Strapi doesn't send back a proper error
        // sometimes so we have to check isAxiosError instead...
        const { data: user, response, isAxiosError } = await this.$authenticated.post('/authenticate/signup', this.form)

        if (user) {
          this.$store.commit('user', { user })
        } else if (typeof response.data === 'string' && isAxiosError) {
          this.formInvalidMessage = response.data
          throw new Error(response.data)
        } else {
          throw new Error('Unknown error')
        }
      } catch (error) {
        this.loading = false
        this.$store.dispatch('error', error)
        this.$store.commit('signedIn', { signedIn: false })
        this.form.password = ''
        this.form.confirmPassword = ''
        this.$router.push({
          hash: '#form-input-error'
        })
        return
      }

      this.$store.commit('signedIn', { signedIn: true })

      this.loading = false

      // TODO: this path is a placeholder, also might want to set the user
      // details on the store or something
      this.$router.push({
        path: '/my-account',
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.loading-icon-overlay {
  min-width: $btn-min-width;
}
.password-hint {
  overflow: visible;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: $breakpoint-md) {
  .password-hint {
    white-space: nowrap;
  }
}
.privacy-link {
  font-size: 0.7rem;
}
.mb-4\.5 {
  margin-bottom: 2.5rem;
}
</style>

