<template>
  <!-- eslint-disable vue/no-v-html -->
  <div>
    <div class="help-intro">
      <PageHeading ref="focusTarget">{{ page_title }}</PageHeading>
      <Divider variant="thick" />
      <p class="text-break subheading" v-html="page_subheading"></p>
    </div>

    <Alert v-for="notice in notices" :id="noticeId(notice.name)"
           :key="notice.id" show :variant="notice.type.toLowerCase()"
           v-html="notice.content" />

    <b-tabs justified active-nav-item-class="active-tab">
      <b-tab v-for="(tab, tabIndex) in tabs" :key="tabIndex" :title="tab.title"
             class="content-tab">
        <div class="content-tab__toc">
          <PageSubHeading>On this page:</PageSubHeading>
          <ul class="list-unstyled">
            <li v-for="(content, contentIndex) in tab.tab_sections"
                :key="contentIndex" class="mb-3">
              <nuxt-link :to="{ hash: kebabCase(content.title) }">
                {{ content.title }}
              </nuxt-link>
            </li>
          </ul>
        </div>

        <div>
          <HelpSection v-for="(content, contentIndex) in tab.tab_sections"
                       :key="contentIndex" :title="content.title"
                       :hash-id="kebabCase(content.title)"
                       :content="content.body" />
        </div>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
import { pick } from 'ramda'
import kebabCase from 'lodash.kebabcase'
import focusHeadingOnMountMixin from '../mixins/aria-focus-heading'

export default {
  mixins: [focusHeadingOnMountMixin],
  layout: 'two-column',
  asyncData({ $cms }) {
    return $cms
      .get('dmrb-help')
      .then((res) =>
        pick(['page_title', 'page_subheading', 'notices', 'tabs'], res.data)
      )
  },
  head() {
    return {
      title: 'Help & Support',
    }
  },
  methods: {
    kebabCase,
    noticeId(str) {
      return `notice-${kebabCase(str)}`
    },
  },
}
</script>

<style lang="scss" scoped>
.help-intro {
  @media screen and (min-width: $breakpoint-md) {
    padding-top: 6rem;
  }

  margin-bottom: 1rem;

  @media screen and (min-width: $breakpoint-md) {
    margin-bottom: 3rem;
  }
}

.help-section {
  margin-bottom: 2rem;
  font-size: 0.875rem;

  @media screen and (min-width: $breakpoint-md) {
    margin-bottom: 2.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.subheading {
  font-size: 1.875rem;
  font-weight: 800;
  margin-top: 3.5rem;
}

.content-tab {
  display: flex;

  @media screen and (max-width: $breakpoint-md) {
    flex-direction: column;

    .content-tab__toc {
      margin-bottom: 1rem;
    }
  }

  padding-top: 4rem;

  &__toc {
    min-width: 35%;
  }
}

.tabs ::v-deep .nav-item a {
  border: none;
  border-bottom: 4px solid #d9d9d9;
  color: $body-color-subdued;
  padding: 1rem 0;
  font-weight: 700;
  transition: all 300ms ease-in-out;

  &.active {
    background-color: transparent;
    border-bottom: 4px solid $brand-primary;
    border-radius: 2px;
    color: #222222;
  }
}

.nav-tabs ::v-deep {
  .nav-link {
    border: none;
    margin: 0;

    &.active {
      background-color: transparent;
    }
  }
}

.active-tab {
  color: pink !important;
}
</style>
