<template>
  <!-- eslint-disable vue/no-v-html -->
  <main id="main-content" tabindex="-1">
    <section
      class="homepage-hero d-flex align-items-center"
      :style="`background-image: url(${setHeroImage})`"
    >
      <b-container>
        <b-row>
          <b-col cols="12" md="8" offset-md="2">
            <h1 id="main-heading" ref="focusTarget" tabindex="-1">
              {{ page_title }}
            </h1>
            <label for="hero-search" class="search-label">{{ page_subheading }}</label>

            <SearchBox
              id="hero-search"
              ref="searchBox"
              :placeholder="searchPlaceholder"
              with-icon
              suite-select
              date-select
              aria-label="Site search, secondary"
              @submit="onSubmit"
            />
          </b-col>
        </b-row>
      </b-container>
    </section>

    <b-container>
      <b-row>
        <b-col class="px-md-0" cols="12">
          <h2 class="mb-4 section-header section-header--mobile-only">
            Quick Links
          </h2>

          <div class="resource-cards">
            <ResourceCard
              v-for="(card, key) in resourceLinks"
              :key="key"
              :title="card.title"
              :to="card.link"
              :notification="card.dynamic"
              :updated-content="card.updatedContent && card.updatedContent.text"
            >
              <component :is="resourceIcon(card.icon_name)"></component>
            </ResourceCard>
          </div>
        </b-col>
      </b-row>
    </b-container>

    <b-container>
      <b-row>
        <b-col class="px-md-0" cols="12">
          <h2 class="mb-4 section-header">Standards</h2>
          <div class="standards-descriptions">
            <div v-for="(standard, index) in standards_cards" :key="index" class="description">
              <p class="description__header">
                <a 
                  :href="standard.url"
                  :title="`${standard.title} Index Link`"
                  :alt="`Visit the ${standard.title} standards page`"
                >
                  {{standard.title}}
                </a>
              </p>

              <p class="description__content">{{ standard.description }}</p>
              
              <a 
                :href="standard.indexUrl"
                :title="`${standard.title} Index Link`"
                :alt="`Visit the ${standard.title} standards page`"
                class="description__link"
              >
                 View index
              </a>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>

    <b-container class="mb-5">
      <b-row>
        <b-col class="px-md-0" cols="12">
          <div class="info-section">
            <p class="mb-4 section-header section-header--reduced">
              Latest news
            </p>
            <p class="info-section__content">
              {{ latest_news }}
            </p>
          </div>
        </b-col>
      </b-row>
    </b-container>

    <b-container>
      <b-row>
        <b-col class="px-md-0" cols="12">
          <div class="info-section">
            <p class="mb-4 section-header section-header--reduced">
              Have you got an idea, or a challenge to our standards?
            </p>
            <p class="info-section__content">
              {{ feedback_prompt }}
            </p>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </main>
</template>

<script>
import { pick } from 'ramda'
import kebabCase from 'lodash.kebabcase'
import { disciplineIcon } from '@/config/disciplines'
import { resourceLinks, resourceIcon } from '@/config/resourceLinks'
import focusHeadingOnMountMixin from '@/mixins/aria-focus-heading'
import currentBootstrapBreakpoint from '@/mixins/currentBootstrapBreakpoint'
import { imageSelector } from '@/helpers/images'

export default {
  mixins: [currentBootstrapBreakpoint, focusHeadingOnMountMixin],
  layout: 'homepage',
  asyncData({ $cms }) {
    return $cms.get('home').then((res) =>
      pick(
        [
          'page_title',
          'page_subheading',
          'standards_cards',
          'latest_news',
          'feedback_prompt',
          'hero_image',
        ],
        res.data
      )
    )
  },
  data() {
    return {
      page_title: 'Welcome to Standards for Highways',
      page_subheading:
        'On this site you will find all the essential documents on the the design, construction and maintenance of highways.',
      standards_cards: [],
      resourceLinks,
      latest_news: '',
      feedback_prompt: ''
    }
  },
  computed: {
    searchPlaceholder() {
      return this.currentBreakpoint === 'xs'
        ? 'Search'
        : this.currentBreakpoint === 'sm' || this.currentBreakpoint === 'md'
        ? 'Search'
        : 'Search all standards by document names, codes or keywords'
    },
    setHeroImage() {
      if (!this.hero_image?.length) {
        return undefined
      }
      const { formats, url: defaultImageUrl } = this.hero_image[0]

      return imageSelector([
        formats,
        defaultImageUrl,
        this.currentBreakpoint,
        process.env.cmsApiUrl,
      ])
    },
  },
  methods: {
    onSubmit(value) {
      const { searchBox } = this.$refs
      const { name } = this.$router.app.$route
      this.$store.dispatch('homepageOnSubmitSearch', { name, ref: searchBox })
    },
    disciplineIcon,
    resourceIcon,
    noticeId(str) {
      return `notice-${kebabCase(str)}`
    },
  },
}
</script>

<style lang="scss" scoped>
.homepage-hero {
  min-height: 264px;
  padding: 10rem 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
  background-size: cover;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.72);
  margin-bottom: 2.5rem;
  background-color: $body-color-subdued;

  @media screen and (min-width: $breakpoint-md) {
    margin-bottom: 3.5rem;
  }
}

.homepage-hero h1 {
  font-weight: 800;
  font-size: 1.75rem;
  margin-bottom: 1rem;

  @media screen and (min-width: $breakpoint-md) {
    font-size: 2.5rem;
  }
}

.homepage-hero label {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.5rem;

  @media screen and (min-width: $breakpoint-md) {
    font-size: 1.5rem;
  }
}

.homepage-hero .search-label {
  font-size: 1.125rem;
}

.homepage-hero ::v-deep .form-control {
  font-size: 12px;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.homepage-hero ::v-deep .input-group-text {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.homepage-intro-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;

  @media screen and (min-width: $breakpoint-md) {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
}

.homepage-intro-copy {
  font-size: 0.875rem;
  margin: 1rem 0 1.5rem;
  font-weight: normal;

  @media screen and (min-width: $breakpoint-md) {
    font-size: 1rem;
    margin: 0.5rem 0 2rem;
  }
}

.homepage-alert {
  margin-bottom: 0;
}

.discipline-cards {
  margin: 1.5rem 0;

  ::v-deep > * {
    margin: 1rem 0;
  }

  @media screen and (min-width: $breakpoint-md) {
    margin: 2rem -0.5rem 3.5rem;
    display: block;
  }
}

.section-header {
  font-weight: 700;
  font-size: 1.375rem;

  @media screen and (min-width: $breakpoint-md) {
    font-size: 1.875rem;
    font-weight: 800;
  }

  &--mobile-only {
    @media screen and (min-width: $breakpoint-md) {
      display: none;
    }
  }

  &--reduced {
    @media screen and (min-width: $breakpoint-md) {
      font-size: 1.125rem;
      font-weight: 700;
    }
  }
}

.resource-cards {
  margin: 1.5rem 0;

  ::v-deep > * {
    margin: 1rem 0;
    @supports (display: grid) {
      margin: 0;
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-gap: 1rem;
  }

  @media screen and (min-width: $breakpoint-md) {
    margin: 1rem -0.5rem 3.5rem;
    display: flex;
    flex-wrap: wrap;

    ::v-deep > * {
      flex-shrink: 1;
      flex-basis: calc(25% - 1rem);
      margin: 0.5rem;

      @supports (display: grid) {
        margin: 0;
      }
    }

    @supports (display: grid) {
      margin: 1rem 0 3.5rem;
      align-items: stretch;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.standards-descriptions {
  margin: 1.5rem 0;

  @media screen and (min-width: $breakpoint-md) {
    margin: 1rem -0.5rem 3.5rem;
    display: flex;
    flex-wrap: wrap;

    ::v-deep > * {
      flex-shrink: 1;
      flex-basis: calc(25% - 1rem);
      margin: 0.5rem;

      @supports (display: grid) {
        margin: 0;
      }
    }

    @supports (display: grid) {
      margin: 1rem 0 3.5rem;
      align-items: stretch;
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .description {
    margin-bottom: 40px;

    &__header {
      color: $brand-primary;
      font-size: 1.125rem;
      font-weight: 700;
    }

    &__content {
      font-size: 0.875rem;
      color: $body-color-subdued;
      font-weight: 400;
    }

    &__link {
      font-size: 0.875rem;
      font-weight: 700;
      color: #222222;
      text-decoration: underline;
    }
  }
}

.info-section {
  &__content {
    font-size: 0.875rem;
    color: $body-color-subdued;
    font-weight: 400;
    column-count: 2;
    column-gap: 4rem;
  }
}

.homepage-shop-section {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0 0;

  @media screen and (min-width: $breakpoint-md) {
    flex-direction: row;
    margin: 1rem 0 0;
  }
}

.homepage-shop-section img {
  width: 58px;
  height: auto;
  display: inline-block;
  margin-bottom: 1.5rem;

  @media screen and (min-width: $breakpoint-md) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $breakpoint-xl) {
    width: 67px;
  }
}

.homepage-shop-section p {
  margin: 0.5rem 0 1.5rem;
  padding: 0 32px;

  @media screen and (min-width: $breakpoint-md) {
    margin: 0 24px;
    text-align: left;
    padding: 0;
  }
}

.homepage-shop-section .btn {
  min-width: 142px;

  @media screen and (min-width: $breakpoint-xl) {
    min-width: $btn-min-width;
  }
}

.description__content {
  min-height: 5rem;
}
</style>
