<template>
  <div>
    <PageHeadingUnderlined
      label="your standards for highways"
      title="Sign in"
    >
      <p>Enter your Standards for Highways account details below to sign in.</p>
      <p>If you don’t have one, you can <nuxt-link to="/create-account">create an account here.</nuxt-link></p>
    </PageHeadingUnderlined>

    <b-form
      id="sign-in-form"
      ref="signInForm"
      role="sign-in"
      aria-label="Sign in page"
      @submit.prevent="onSubmit"
    >
      <b-row>
        <b-col id="form-input-error" cols="12" md="4">
          <b-alert
            variant="danger"
            :show="formInvalid"
            class="mb-4.5"
          >
            {{ formInvalidMessage }}
          </b-alert>
        </b-col>
      </b-row>

      <b-row class="mb-4">
        <b-col cols="12" md="5" class="form-group">
          <label for="email-input">
            Email
          </label>

          <b-form-invalid-feedback :state="emailState">
            Enter in the format: name@example.com
          </b-form-invalid-feedback>

          <b-form-input
            id="email-input"
            ref="email"
            v-model="form.email"
            type="email"
            placeholder="enter your email"
            :state="emailState"
          ></b-form-input>

        </b-col>
      </b-row>

      <b-row class="mb-4">
        <b-col cols="12" md="5" class="form-group">
          <label for="password-input">
            Password
          </label>

          <b-form-invalid-feedback :state="passwordState">
            Password does not meet the requirements
          </b-form-invalid-feedback>

          <b-form-input
            id="password-input"
            v-model="form.password"
            type="password"
            placeholder="Enter your password"
            :state="passwordState"
          ></b-form-input>

        </b-col>
      </b-row>

      <b-row class="button-row">
        <b-col cols="12" sm="1">
          <b-overlay
            :show="loading"
            class="loading-icon-overlay"
            rounded
            opacity="0.6"
            spinner-small
            spinner-variant="primary"
          >
            <Button
              :loading="loading"
              type="submit"
              class="w-100"
            >Sign in</Button>
          </b-overlay>
        </b-col>
      </b-row>
    </b-form>

  </div>
</template>

<script>
export default {
  layout: 'no-footer',
  data() {
    return {
      loading: false,
      submitted: false,
      formInvalidMessage: 'An error has occured. Please check below.',
      form: {
        email: '',
        password: '',
      },
    }
  },
  head() {
    return {
      title: 'Sign In',
    }
  },
  computed: {
    emailState() {
      return !this.submitted ? null
      : (
        this.form.email.length > 3 && this.form.email.match(/@./g)?.length === 1
      )
    },
    passwordState() {
      return !this.submitted ? null
      : (
        this.form.password.length > 5 && !!this.form.password.match(/[A-Z]/g)
      )
    },
    formInvalid() {
      return !this.submitted ? null
      : (
        !this.emailState || !this.passwordState
      )
    }
  },
  beforeMount() {
    if (this.$store.getters.signedIn) this.$router.push('/my-account')
  },
  methods: {
    async onSubmit() {
      this.$router.push({
        hash: ''
      })

      this.submitted = true

      if (this.formInvalid) {
        this.$store.dispatch('error', new Error(this.formInvalidMessage))
        this.$router.push({
          hash: '#form-input-error'
        })
        return
      }

      this.loading = true

      try {
        // TODO the user permissions plugin in Strapi doesn't send back a proper error
        // sometimes so we have to check isAxiosError instead...
        const { data: user, response, isAxiosError } = await this.$authenticated.post('/authenticate/login', this.form)

        if (user) {
          this.$store.commit('user', { user })

          const { name } = this.$router.app.$route
          this.$store.dispatch('signIn', {
            name,
            ref: this.$refs.signInForm,
          })
        } else if (typeof response.data === 'string' && isAxiosError) {
          this.formInvalidMessage = response.data
          throw new Error(response.data)
        } else {
          throw new Error('Unknown error')
        }

      } catch (error) {
        this.loading = false
        this.$store.dispatch('error', error)
        this.$store.commit('signedIn', { signedIn: false })
        this.form.email = ''
        this.form.password = ''
        this.$refs?.email?.focus({ preventScroll: true })
        this.$router.push({
          hash: '#form-input-error'
        })
        return
      }

      this.$store.commit('signedIn', { signedIn: true })
 
      this.loading = false

      // TODO: this path is a placeholder, also might want to set the user
      // details on the store or something
      this.$router.push({
        path: '/my-account',
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.loading-icon-overlay {
  min-width: $btn-min-width;
}
.button-row {
  margin-top: 2.5rem;
}
</style>
