/* eslint-disable vue/no-v-html */
<template>
  <Page>
    <div>
      <PageHeading ref="focusTarget">{{ page_title }}</PageHeading>
      <!-- eslint-disable-next-line vue/no-v-html -->
      <p class="text-break" v-html="page_subheading"></p>
      <!-- eslint-disable-next-line vue/no-v-html -->
      <b-row>
        <b-col cols="12" md="8">
          <!-- eslint-disable vue/no-v-html -->
          <Alert
            v-for="notice in notices"
            :id="noticeId(notice.name)"
            :key="notice.id"
            show
            :variant="notice.type.toLowerCase()"
            v-html="notice.content"
          />
        </b-col>
      </b-row>
    </div>

    <div slot="left-col">
      <h5 class="mb-4">Filters</h5>

      <b-form
        class="filter-form d-block w-100"
        aria-label="Filter the DMRB updates, secondary"
      >
        <b-form-group
          class="flex-fill"
          label="Filter by publication"
          label-for="publicationDropdown"
        >
          <b-form-select
            id="publicationDropdown"
            v-model="selectedPublication"
            :options="publications"
            @change="handleFilterSubmit"
          ></b-form-select>
        </b-form-group>
        <b-form-group
          class="flex-fill"
          label="Filter by publication action"
          label-for="publicationAction"
        >
          <b-dropdown
            id="publicationAction"
            :text="`${filters ? filters.length : '0'} selected`"
            class="checkbox-select w-100"
          >
            <div class="checkbox-select__check-wrap">
              <b-form-checkbox-group
                v-model="filters"
                :options="filterOptions"
                stacked
                @change="handleFilterSubmit"
              ></b-form-checkbox-group>
            </div>
          </b-dropdown>
        </b-form-group>

        <b-form-group
          class="flex-fill"
          label="Filter by standards"
          label-for="standards"
        >
          <b-dropdown
            id="standards"
            :text="`${standards ? standards.length : '0'} selected`"
            class="checkbox-select w-100"
          >
            <div class="checkbox-select__check-wrap">
              <b-form-checkbox-group
                v-model="standards"
                :options="standardsOptions"
                stacked
                @change="handleFilterSubmit"
              ></b-form-checkbox-group>
            </div>
          </b-dropdown>
        </b-form-group>

        <b-form-group>
          <b-form-checkbox
            id="updates-saved-docs-only-checkbox"
            v-model="savedDocsOnly"
            name="updates-saved-docs-only-checkbox"
          >
            Your saved documents only
          </b-form-checkbox>

        </b-form-group>
      </b-form>

      <SidebarSnippet
        v-for="snippet in sidebar_panel_snippets"
        :key="snippet.id"
        class="d-none d-md-block mt-0"
        :content="snippet.content"
        :image="snippet.image"
      />

    </div>

    <aside slot="right-col">
      <client-only>
        <template #placeholder>
          <SearchStatus>Loading</SearchStatus>
        </template>
        <Alert class="mb-5" show v-if="!signedIn">
          <br />
          <div v-html="signedOutAlert"></div>
        </Alert>
        <SearchStatus link="/my-account" linkText="View all saved" v-if="signedIn">Updates to your saved documents - {{ today }}</SearchStatus>
        <div v-if="signedIn" aria-live="polite" class="updates-latest-updates-section">
          <div v-if="latestUpdatesError">
            <Alert show variant="danger">{{ latestUpdatesError }}</Alert>
          </div>
          <div v-if="isLoading" class="w-100 text-center">
            <div class="spinner-border m-5" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <div v-if="!resultsInLatestUpdates.length && !isLoading && !latestUpdatesError">
            <p class="mb-4 no-updates">There are no updates to your saved documents.</p>
            <hr />
          </div>

          <LatestUpdateCard
            v-for="summary in resultsInLatestUpdates"
            :key="
            `${summary.titleData.documentReference}-${summary.titleData.title}-${summary.publicationAction}`
            "
            :revision="summary.titleData.revision"
            :document-reference="summary.titleData.documentReference"
            :title="summary.titleData.title"
            :document-url="
            summary.titleData.nodeId
              ? `/search/${summary.titleData.nodeId}`
              : ''
            "
            :notes="summary.notes"
            :publication-action="summary.publicationAction"
            :partially-supersedes-docs="summary.partiallySupersedes"
            :supersedes-docs="summary.supersedes"
            :superseded-by-docs="summary.supersededBy"
            :partially-superseded-by-docs="summary.partiallySupersededBy"
          ></LatestUpdateCard>

          <TSOShopAdvert class="d-block d-md-none"></TSOShopAdvert>
        </div>
      </client-only>

      <template v-if="!savedDocsOnly">
        <SearchStatus v-if="!isLoading">{{ thisMonth }}</SearchStatus>
        <div aria-live="polite">
          <div v-if="error">
            <Alert show variant="danger">{{ error }}</Alert>
          </div>
          <div v-if="isLoading" class="w-100 text-center">
            <div class="spinner-border m-5" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <div v-if="!resultsList.length && !isLoading && !error">
            <Alert class="my-4" show>
              No updates found. If you have filters applied try changing them and
              reapplying.
            </Alert>
          </div>

          <LatestUpdateCard
            v-for="summary in resultsList"
            :key="
            `${summary.titleData.documentReference}-${summary.titleData.title}-${summary.publicationAction}`
            "
            :revision="summary.titleData.revision"
            :document-reference="summary.titleData.documentReference"
            :title="summary.titleData.title"
            :document-url="
            summary.titleData.nodeId
              ? `/search/${summary.titleData.nodeId}`
              : ''
            "
            :notes="summary.notes"
            :publication-action="summary.publicationAction"
            :partially-supersedes-docs="summary.partiallySupersedes"
            :supersedes-docs="summary.supersedes"
            :superseded-by-docs="summary.supersededBy"
            :partially-superseded-by-docs="summary.partiallySupersededBy"
          />
          <TSOShopAdvert class="d-block d-md-none" />
        </div>
      </template>
    </aside>




  </Page>
</template>

<script>
import { pick } from 'ramda'
import kebabCase from 'lodash.kebabcase'
import dayjs from 'dayjs'

import suiteOptions from '../config/suites.js'
import { PUBLICATION_ACTIONS } from '../config/updates'
import { logLatestUpdateViewed } from '../helpers/latestUpdate'
import focusHeadingOnMountMixin from '../mixins/aria-focus-heading'

const LATEST_UPDATE_TITLE = 'Latest updates to the DMRB'
const PAST_UPDATE_TITLE = 'Updates to the DMRB'

function processSummaries(data) {
  return suiteOptions.reduce((acc, { value: standard }) => {
    return [
      ...acc,
      ...data?.[standard]?.publishingSummaries ?? [],
      ...data?.[standard]?.partiallyWithdrawingSummaries ?? [],
      ...data?.[standard]?.withdrawingSummaries ?? [],
      ...data?.[standard]?.amendingSummaries ?? [],
    ]
  }, [])
}

async function getPublicationData($tses, publicationId = 'latest', standards) {
  const publicationResult = await $tses.get(
    `/publication-summaries/${publicationId}${standards.length > 0 ? '?suites=' + standards.join('&suites=') : ''}`
  )
  return publicationResult
}

function getPublicationDataItems(data, filters) {
  const unfilteredResults = processSummaries(data)
  const resultsList =
    !filters || !filters.length
      ? unfilteredResults
      : unfilteredResults.filter(item =>
          filters.includes(item.publicationAction)
        )

  return {
    publicationData: unfilteredResults,
    resultsList
  }
}

const signedOutAlertDefault = `
  <h6><a href="/sign-in">Sign in</a> to be notifed of updates to the documents that are relevant to you.</h6>
  <p>With a Standards for Highway account you can save documents of your choice so that you can easily return to them at a later date and be notified of any updates.</p>
`

export default {
  mixins: [focusHeadingOnMountMixin],
  layout: 'two-column',
  asyncData({ $cms }) {
    return $cms
      .get('dmrb-updates')
      .then(res =>
        pick([
          'page_title',
          'page_subheading',
          'signed_out_alert',
          'notices',
          'sidebar_panel_snippets'
        ], res.data)
       )
  },
  data() {
    return {
      signed_out_alert: null,
      page_title: 'Loading updates...',
      notices: [],
      isLoading: true,
      publicationData: [],
      error: null,
      filters: [],
      filterOptions: Object.values(PUBLICATION_ACTIONS),
      standards: [],
      standardsOptions: suiteOptions.map(({ value }) => value),
      resultsList: [],
      publications: [],
      selectedPublication: null,
      selectedStandard: 'All',
      sidebar_panel_snippets: [],
      latestUpdates: null,
      latestUpdatesError: null,
      savedDocsOnly: false,
    }
  },
  head() {
    return {
      title: this.pageTitle
    }
  },
  computed: {
    signedOutAlert() {
      return this.signed_out_alert || signedOutAlertDefault
    },
    resultsInLatestUpdates() {
      return this.latestUpdates && this.resultsList.length > 0
        ? this.latestUpdates
          .map(({ node_id }) => (this.resultsList.find(({ titleData }) => titleData.nodeId === node_id))) // eslint-disable-line
          .filter(Boolean)
        : []
    },
    today() {
      return dayjs().format('DD MMM YYYY')
    },
    thisMonth() {
      return dayjs().format('MMM YYYY')
    },
    user() {
      return this.$store.getters.user
    },
    signedIn() {
      return this.$store.getters.signedIn
    },
  },
  watch: {
    $route(to) {
      this.updateData(to.query.publicationId)
    }
  },
  mounted() {
    this.getPublications()
    if (this.signedIn) {
      this.getLatestUpdates()
    }
  },
  methods: {
    async getLatestUpdates() {
      try {
        const { data: latestUpdates } = await this.$authenticated('/saved-documents/latest/' + this.user.id)
        this.latestUpdates = latestUpdates
      } catch (error) {
        this.latestUpdates = []
        this.latestUpdatesError = error.message
        console.log(error)
      }
    },
    async getPublications() {
      const { publicationId } = this.$route.query

      try {
        const publicationsResult = await this.$tses.get('/publications')

        const publicationOptions = publicationsResult.data.map(option => ({
          value: option.id,
          text: option.title
        }))

        this.publications = publicationOptions
        this.selectedPublication = publicationId || publicationOptions[0].value
        this.pageTitle =
          !publicationId ||
            (publicationOptions && publicationId === publicationOptions[0].value)
              ? LATEST_UPDATE_TITLE
              : PAST_UPDATE_TITLE

              this.updateData(publicationId)
      } catch (error) {
        this.$store.dispatch('error', error)
        this.error = `Error loading publication data: ${error.message}`
        this.isLoading = false
      }

      if (this.publications[0] && this.publications[0].text) {
        logLatestUpdateViewed(this.publications[0].text)
      }
    },
    noticeId(str) {
      return `notice-${kebabCase(str)}`
    },
    handleFilterSubmit() {
      this.$router.push({
        to: '/updates',
        query: {
          publicationId: this.selectedPublication,
          filters: this.filters || [],
          standards: this.standards || [],
        }
      })
    },
    // v-model - on refresh - one item becomes a string
    // push this one item into an array else run as usual
    parseParam(value) {
      return typeof value === 'string'
      ? [value]
      : (value || [])
    },
    updateData(publicationId) {
      this.isLoading = true
      this.resultsList = []
      const { standards, filters, publicationId: queryPublicationId } = this.$route.query

      this.filters = this.parseParam(filters)
      this.standards = this.parseParam(standards)

      this.selectedPublication =
        queryPublicationId || this.publications[0].value

      getPublicationData(this.$tses, publicationId, this.standards)
        .then(result => {
          const {
            publicationData,
            resultsList
          } = getPublicationDataItems(result.data, this.filters)

          this.isLoading = false
          this.publicationData = publicationData
          this.resultsList = resultsList
          this.pageTitle =
            !publicationId ||
              (this.publications && publicationId === this.publications[0].value)
                ? LATEST_UPDATE_TITLE
                : PAST_UPDATE_TITLE
        })
        .catch(error => {
          this.isLoading = false
          this.error = `Error loading publication data: ${error.message}`
        })
    }
  }
}
</script>

<style lang="scss" scoped>
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  flex: 1;
}

.filter-form {
  margin-bottom: 2.5rem;
}

.filters-header {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;

  @media screen and (min-width: $breakpoint-md) {
    margin-top: 0;
  }
}

.filters-header .btn {
  min-width: 0;
  padding: 0;
  font-size: 0.875rem;
}

.checkbox-select {
  ::v-deep .dropdown-menu {
    right: 0;
    padding: 1rem;
    box-shadow: 0 2px 4px 0 rgba(96, 96, 96, 0.24);
    .custom-checkbox {
      display: block;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  ::v-deep button {
    border: 1px solid $input-border-color;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px /* same height as custom select */;
    padding: 0.75rem;
    &:focus,
    &:active {
      box-shadow: 0 0 0 3px $brand-primary, 0 0 0 5px #ffffff;
      border-radius: 8px;
      border: 1px solid #ffffff;
      background: none;
    }
  }

  &__filters-wrap {
    padding: 10px 12px;
    ul {
      padding: 0;
    }

    li {
      list-style: none;
    }
  }
}

.updates-latest-updates-section {
  margin-bottom: 5rem;
}

.no-updates {
  color: $body-color-subdued;
}

</style>
